<%- include('adminNavbar.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/admin/nftMarketplace.css">
    <script src="../../javascript/ajax-min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!-- Adding the mobile page  -->
    <section class="mobileSection">
        <!-- Inner Navbar -->
        <div class="innerNavDiv">
            <div class="marketplaceParaDiv">
                <p> Marketplace</p>
            </div>

            <div>
                <div class="searchDiv">
                    <input type="search" name="" placeholder="Search..." class="searchInputForm">
                    <button class="searchBtn"> 
                        <div>
                            <span> Search</span>
                        </div>
                        <div>
                            <img src="../../images/dashboard/nftMarketPlace/search.png" class="searchLogo" alt="">
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- Adding the grid container  -->
        <div class="gridContainer" id="imageGrid">
            <div class="gridItem">
                <!-- Adding the nft Image div  -->
                <div class="nftImageDiv">
                    <img src="../../images/dashboard/nftMarketPlace/digitalArt.jpg" class="nftDataImage" alt="">
                </div>

                <!-- Adding the views div  -->
                <div class="views">
                    <div class="viewsLogoDiv">
                        <img src="../../images/dashboard/nftMarketPlace/views.png" class="viewsLogo" alt="">
                    </div>
                    <div class="viewsCountDiv">
                        <p class="viewsCountPara"> 1.4M views </p>
                    </div>
                </div>

                <!-- Adding the username div  -->
                <div class="userProfileDiv">
                    <div>
                        <img class="profileImage" src="../../images/dashboard/nftMarketPlace/jjjacobs.jpg" alt="" srcset="">
                    </div>

                    <div class="userDetailsDiv">
                        <p class="userDetails"> Violet Eyes </p>
                        <p class="userDetails"> John Stevens </p>
                    </div>
                </div>

                <!-- Adding the buy button -->
                <div class="buyBtnDiv">
                    <button class="buyBtn">
                        Buy <span class="priceTag"> 0.45 </span> ETH 
                    </button>
                </div>

            </div>
            <!-- Images will be inserted here dynamically using JavaScript -->
        </div>

    </section>

    <!-- Adding the desktop page  -->
    <section class="desktopSections">

    </section>


    

    <!-- Adding the javascript -->
    <script type="module" src="../../javascript/adminNftMarketPlace.js"></script>
</body>
</html>