<%- include('adminNavbar.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/adminDashboard.css">
</head>
<body>
    <!-- Adding the mobile section -->
    <section class="mobileDashboard">

        <!-- Adding the main section -->
        <section class="mobileMainSection">
            <!-- Greetings div  -->
            <div class="greetingsDiv">
                <p> Welcome  <span class="username"> <%= firstname %>  <%= lastname %> </span> </p>
            </div>
            <!-- Adding the discover div -->
            <div class="discoverDiv">
                <h2 class="headerPara"> Discover, Collect, <br> 
                    Sell and Create your own NFTs. 
                </h2> <br> 

                <p class="para"> 
                    The world's first and <br> largest digital marketplace. 
                </p>

                <div class="discoverButtonDiv">
                    <button class="discoverBtn"> Discover <br> Now </button> 
                    <button class="createYourOwnBtn"> Create Your Own </button>
                </div>


            </div>

        </section>


      

    </section>

    
</body>
</html>