<%- include('adminNavbar.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../javascript/sweetAlert.js"></script>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/admin/uploadNft.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <!-- Adding the main div -->
    <section class="createNftMobile">

        <!-- Adding the dashboard content div -->
        <div class="createNftInnerDiv" id="createNftInnerDiv">
            <div class="createNftMainDiv">
                <div class="descriptionHeaderDiv">
                    <p class="createNftPara"> Create NFT  </p>
                    <p class="descPara"> 
                        Thank you for choosing to upload your NFT description. <br> 
                        Please fill out the following form to provide us with the necessary details about your NFT.
                    </p>

                </div>


                <div>
                    <form class="createNftinnerFormDiv" id="myForm">
                        <label> NFT Title:  </label><br> 
                        <input type="text" placeholder="Enter the title of your NFT" class="nftTitle inputForm" id="nftTitle"> <br> 

                        <label> Artist Name:  </label><br> 
                        <input type="text" placeholder="Enter the name of the artist or creator" class="nftTitle inputForm" id="nftArtistName"> <br>

                        <label> Category </label> <br> 
                        <select id="category" class="category" name="category">
                            <option class="options" value="art">Art</option>
                            <option class="options" value="collectibles">Collectibles</option>
                            <option class="options" value="music">Music</option>
                            <option class="options" value="land">Land</option>
                            <option class="options" value="image"> Image </option>
                            <option class="options" value="other"> Other </option>
                        </select> <br> 
    
                        <label for=""> NFT Price (ETH) </label> <br> 
                        <input type="number" placeholder="Provide the desired price of your NFT " class="nftPrice inputForm" id="nftPrice"/> <br> 

                        <label for=""> NFT Description </label> <br> 
                        <textarea 
                            name="" 
                            id="nftDescription" 
                            placeholder="Provide a brief description of your NFT, including any relevant information about its concept, inspiration, or meaning" 
                            cols="30" rows="10" 
                            class="nftDescription">
                        </textarea> 
                        <br> 
                       
                        <div class="uploadNftFormDiv">
                            <label for=""> Select Nft </label> <br> 
                            <input id='fileid' type='file' hidden/>
                            <input id='nftBlobFile' class="nftBlobFile"  type='button' value='Choose Nft File' />
                          
                        </div> 

                        <div>
                            <button class="createNftButton" id="createNftButton"> Create NFT </button>
                        </div>

                    </form>

                </div>

            </div>           
            
        </div>


    </section>
    



    <!-- Adding the javascript -->
    <script src="../../javascript/createNft.js"></script>

</body>
</html>