<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/adminDashboard.css">
    <link rel="icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Welcome  <%= firstname %> | <%= lastname %> </title>
</head>
<body>
    <!-- Adding the navbar  -->
    <div class="navbarDiv">
        <nav class="leftNav">

        </nav>
        <nav class="rightNav">
            <button class="menuButton" id="menuButton">
                <div class="bar"></div> 
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>

        </nav>

    </div>

    <!-- Adding the menu container -->
    <div  id="menuContainer">
        <div class="menuContainerImageDiv">
            <a href="/dashboard">
                <img class="homeLogoMenu" src="../images/logo-inverse.png" alt="" srcset="">
            </a>

            <button> 
                <img src="../../images/admin/close.png"  class="closeLogo"  id="closeLogo" alt="" srcset="">
            </button>
        </div>

        <ul>
            <li class="menuContainerList">  <a href="/admin/dashboard" class=""> 
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Dashboard </span>
            </a></li>
            <li class="menuContainerList"><a href="/admin/nftMarketPlace" class="" id="">
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/>  
                <span> NFT Marketplace </span></a>  </li>
            <li class="menuContainerList"><a href="/admin/uploadNft" class="" id=""> 
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Upload NFT </span> </a> 
            </li>
            <li class="menuContainerList"><a href="/admin/messages" class="" id=""> 
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Message </span> </a> 
            </li>
            <li class="menuContainerList"><a href="/admin/transaction" class="" id=""> 
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Transaction </span> </a> 
            </li>
            <li class="menuContainerList"><a href="/admin/myWallet" class="" id=""> 
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> My Wallet </span> </a> 
            </li>

                <div class="seperator">
                    
                </div>

            <li class="menuContainerList"><a href="/admin/analytics" class="" id=""> 
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Analytics </span> </a> </li>

            <li class="menuContainerList"><a href="/admin/settings" class="" id="">  
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Settings  </span></a> 
            </li>
            <li class="menuContainerList"><a href="/admin/profile" class="" id="">  
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Profile </span></a>  
            </li>
    
            <li class="menuContainerList"><a href="/logout" class="" id="">  
                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                <span> Logout </span> </a> </li>
            
        </ul>  
        
        <div class="horizontalLineDiv">
            <hr id="horizontal"> <br> 

        </div>

        <div class="socialMediaDiv">
            <a href="#" id="facebook" class="fa fa-facebook facebook"></a>
            <a href="#" id="twitter" class="fa fa-twitter twitter"></a>
            <a href="#" id="google" class="fa fa-google google"></a>
            <a href="#" id="linkedin" class="fa fa-linkedin linkedin"></a>
            <a href="#" id="youtube" class="fa fa-youtube youtube"></a>
            <a href="#" id="instagram" class="fa fa-instagram instagram"></a>

        </div>
    </div>

    
        <!-- Adding javascript  -->
        <script src="../../javascript/adminDashboard.js"></script>
</body>
</html>