

* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
#dot-container {
    text-align: center;
    margin-top: 10px;
}
.descDiv {
    margin-top: -28px;
    padding-left: 234px;
    margin-bottom: 8px;
    font-size: 15px;
}
.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}
.dot.active {
    background-color: #65c861;
}
.sliderImage {
    height: 300px;
    width: 330px;
    display: none;
}
body {
    font-family: 'Poppins'; 
    background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
} 
.exploreDivInfo- {
    margin-bottom: 0px; 
}
.createAndSellDIv {
    margin-top: 120px;
}
.aboutMainDiv {
    margin: auto;
    width: 80%;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 120px;
}
.aboutUsPara {
    font-size: 56px;
    color: #ffffffa3; 
}
.aboutUsHeaderDiv {
    padding-top: 20px; 
    text-align: center;
    margin-bottom: 100px;
}
.rariableParaDiv {
    margin-bottom: 16px;
    margin-left: -14px;
}
.aboutListItems {
    line-height: 44px;
}
.aboutLeftDiv {
    height: 508px;
    width: 385px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 80px; 
    background-image: url("../images/aboutImages/ben-tofan-76bK9vEf3Us-unsplash.jpg");
}
.aboutfirstdiv {
    display: flex;
}
.theLargestNftHeader {
    font-size: 49px;
    margin-left: -19px;
    color: #ffffffa3;
}
.listItemsPara {
    color: #7f7f7f;
    font-size: 13px;
}
.listItemsPara ul li {
    color: #7f7f7f;
    font-size: 13px;
}
.aboutUsButton {
    color: rgb(237, 243, 237);
    background-color: #9cbf10f2;
    height: 47px;
    width: 157px;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    margin-left: -18px;
    margin-top: 9px;
}



@media (min-width: 300px) and (max-width: 320px) { 
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 23em;
    }
    .sliderImage {
        height: 300px;
        width: 330px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 316px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 316px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 314px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 314px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }
   
}
@media (min-width: 320px) and (max-width: 340px) { 
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 17em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 316px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 316px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 314px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 314px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }
   
   
}
/* Media query for tablets and larger screens */
@media (min-width: 340px) and (max-width: 360px) {
 
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 23em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 368px;;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 368px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 368px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 368px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }
   
}

/* Media query for desktops and larger screens */
@media (min-width: 360px) and (max-width: 399px) {
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 19em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .homeLogo {
        padding-left: 2px;
        margin-left: -2px;  
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 368px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 368px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 368px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 368px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }
   
   
}

/* Media query for landscape-oriented phones */
@media (min-width: 380px) and (max-width: 400px) {
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 21em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 384px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 384px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 384px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 384px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }
   
}

/* Media query for smaller mobile phones */
@media (min-width: 400px) and (max-width: 420px) {
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 23em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo- {
        margin-bottom: 0px; 
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 406px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 406px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 406px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 406px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }
  
}

@media (min-width: 420px) and (max-width: 440px) {
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 23em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 422px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 422px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 422px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 422px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }
   

}

@media (min-width: 440px) and (max-width: 460px) {
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 23em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 370px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 370px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 370px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 370px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }

}
@media (min-width: 460px) and (max-width: 480px) {
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 23em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 370px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 370px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 370px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 370px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }

}
@media (min-width: 480px) and (max-width: 500px) {
    .dropdown {
        margin-top: -65px;
        padding-right: 0em;
        margin-left: 23em;
    }
    .sliderImage {
        height: 300px;
        width: 296px;
        display: grid;
    }
    .rightNav a {
        padding-top: 6px;
        margin-left: 30px;
        color: #ffffff82;
        font-size: 15px;
        margin-left: 15px; 
    }
    #aboutUs {
        margin-left: 22px;
    }
    .aboutUsPara {
        font-size: 44px;
    }
    .aboutUsHeaderDiv {
        margin-bottom: 40px;
    }
    .rariableParaDiv {
        margin-bottom: 7px;
        margin-left: 34px;
    }
    .aboutLeftDiv {
        display: none;
    }
    .theLargestNftHeader {
        font-size: 26px;
        margin-left: 0px;
        color: #ffffffa3;
        text-align: center;
    }
    .aboutListItemsDiv {
        margin-left: 34px;
    }
    .aboutUsButton {
        margin-left: 34px;
    }
    .createAndSellNftHeader {
        font-size: 19px;
        margin-left: 0px;
        margin-top: 0px;
    }
    .setupImage {
        height: 44px;
        width: 50px;
    }
    .exploreHeader {
        margin-left: -18px;
        margin-bottom: -12px;
    }
    .exploreDivInfo {
        margin-left: 1px;
        height: 318px;
        width: 255px;
        margin-bottom: 9px;
    }
    .nftUsers {
        font-size: 12px;
    }
    .exploreSection {
        padding-top: 20px; 
        display: grid; 
        margin-left: 1px; 
    }
    .watchNft {
        margin-left: -23px;
        width: 370px;
        height: 18em;
        background-size: cover;
        background-position: center;
        border-radius: 1em;
        border: 1px solid #f0f8ff17;
        margin-bottom: -10px;
    }
    .descriptionNft {
        padding-top: 13px;
        padding-left: 43px;
        font-size: 30px;
    }
    .pleasureNft {
        margin-top: 190px;
        margin-left: -25px;
        width: 370px;
    }
    .hoodieNft {
        margin-top: 135px;
        margin-left: -24px;
        width: 370px;
    }
    .monkeyNft {
        margin-top: 248px;
        margin-left: -24px;
        width: 370px;
    }
    .aboutMainDiv {
        margin-top: 44px;
        margin-bottom: 120px;
        width: 100%;
    }
    .setupWalletPara, .createYouCollectionPara {
        font-size: 14px;
    }
    .createAndSellDiv1, .createAndSellDiv2 {
        display: grid;
        justify-content: center;
        margin-right: 71px;
    }
    .vitualWorldDiv {
        margin-right: 7px; 
    }

}
@media (min-width: 500px) and (max-width: 520px) {

}
@media (min-width: 520px) and (max-width: 540px) {

}
@media (min-width: 540px) and (max-width: 560px) {

}
@media (min-width: 560px) and (max-width: 580px) {

}
@media (min-width: 580px) and (max-width: 600px) {

}
@media (min-width: 600px) and (max-width: 620px) {

}
@media (min-width: 620px) and (max-width: 640px) {

}
@media (min-width: 640px) and (max-width: 660px) {

}
@media (min-width: 660px) and (max-width: 680px) {

}
@media (min-width: 680px) and (max-width: 700px) {

}




