li, a {
    list-style-type: none;
    text-decoration: none;
}

a {
    font-size: 12px;
    display: flex;
}
span {
    font-size: 15px; 
    font-weight: bold;
}

* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
    color: white; 
}
body {
    background-color: #051a30;
}
.headerPara {
    font-size: 23px;
}
.closeLogo {
    height: 29px;
    margin-top: -22px;
}
.menuContainerImageDiv {
    display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: space-between;
  width: 92%;
}
.menuContainerList {
    margin-bottom: 11px;
    margin-top: 9px;
}
.navbarDiv {
    height: 50px;
    background-color: #051526; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* Reset default button styles */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

/* Style for the menu button */
.menuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

/* Styling for the bars in the menu icon */
.bar {
    width: 31px;
    height: 3px;
    background-color: rgb(218, 215, 215);
    margin: -8px 0;
}
.rightNav {
    margin-right: 25px;
}

/* Add hover effect to the menu icon */
.menuButton:hover .bar {
    background-color: #555; /* Change to your desired hover color */
}

/* Rotate bars for the "X" shape when the menu is active */
.menu-button.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-button.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-button.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
}
.mobileMainSection {
    padding: 30px; 
}
.discoverDiv {
    padding: 20px;
    border: 1px solid #373742;

}
.discoverButtonDiv {
    display: flex;
    margin-top: 30px;
}
.para {
    font-size: 13px;
}
.discoverBtn {
    height: 100px;
    width: 38%;
    background-color: blue;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
}
.createYourOwnBtn {
    height: 100px;
    width: 38%;
    background-color: #123051;
    margin-left: 14px;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
}
#menuContainer {
    position: fixed;
    top: 0;
    left: -107%;
    /* left: 0px;  */
    width: 95%;
    height: 100vh;
    background-color: #051a30;
    transition: left 0.3s ease-in;
    font-size: 12px;
    padding: 10px;
}
.homeLogoMenu {
    height: 34px;
    margin-bottom: 15px;
}
.horizontalLineDiv, 
.horizontal {
    color: black;
  margin-top: 24px;
  width: 90%;
  padding-left: 7px;
}
#horizontal {
    border: 1px solid #4444446e;
}

#menuContainer.open {
    left: 0; 
    width: 100%;
}
.dashboardMenuLogo {
    height: 20px;
    width: 30px;
}
#facebook, #twitter, #google, 
#linkedin, #youtube, #instagram {
    font-size: 23px;
  margin-left: 7px;
}
.greetingsDiv {
    padding-top: 50px;
    margin-bottom: 25px;
}
.username {
    color: #69628c; 
}

