* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins'; 
    color: black; 
    cursor:auto; 
}
body {
    background-color: #040613fa;
    font-family: 'Poppins'; 
}
.adminMainDiv {
    margin: auto; 
    width: 90%;
}
.imageDiv {
    display: flex;
    justify-content: center;
}
.adminLogo {
    height: 100px; 
    width: 100px; 
}
.inputForm {
    width: 96%;
    height: 34px;
    margin-left: 0px;
    border-radius: 5px;
    padding-left: 9px;
    outline: none;
    color: black;
    margin-bottom: 14px;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #b0acac; 
}
.adminInnerDiv {
    padding-top: 30px;
    margin: auto;
    height: 455px;
    width: 50%;
    display: flex;
    margin-top: 80px;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: -1px -3px 25px 10px; 
}
.adminLogoImageDiv {
    margin: auto;
    height: 500px;
    width: 39%;
}
.logoInnerImageDiv {
    margin: auto;
    width: 40%;
    margin-bottom: 16px;
}
.adminLogoImage {
    height: 87px;
    width: 87px;
    border-radius: 47px;
}
.adminFormDiv {
    margin: auto;
    height: 500px;
    border: 1px solid #2f2d2d66;
    width: 61%;
}
.loginBtn {
  height: 32px;
  width: 87px;
  font-size: 11px;
  font-weight: bold;
  background-color: #4848b7;
  border-radius: 5px;
  border: none;
  color: white;
}
.formSection {
    padding-left: 92px;
    padding-top: 82px;
}
.loginImage {
    height: 500px;
    width: 100%;
}
  /* Customize the Swal2 title */
  .swal2-title {
    font-size: 16px;
}
.swal2-html-container {
    font-size: 12px;
}
.swal2-popup, .swal2-modal,
.swal2-icon-error, .swal2-show {
    width: 353px;
    height: 309px;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #072426;
    color: #fff;
    font-size: 12px;
    width: 230px;
}
.swalpara {
    color: black; 
}
.labelHeader {
    font-size: 12px;
}
.rememberMeDiv {
    display: flex;
    justify-content: space-between;
}
.rememberMeDiv .checkboxDiv {
    display: flex;
    align-items: center;
}
.rememberMePara {
    font-size: 11px;
    margin-left: 4px;
}



/* Adding the media query  */
@media (min-width: 300px) and (max-width: 320px) {
    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    

}
@media (min-width: 321px) and (max-width: 340px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
/* Media query for tablets and larger screens */
@media (min-width: 341px) and (max-width: 360px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}

/* Media query for desktops and larger screens */
@media (min-width: 361px) and (max-width: 380px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}

/* Media query for landscape-oriented phones */
@media (min-width: 381px) and (max-width: 400px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}

/* Media query for smaller mobile phones */
@media (min-width: 401px) and (max-width: 420px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}

@media (min-width: 421px) and (max-width: 440px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}

@media (min-width: 441px) and (max-width: 460px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 461px) and (max-width: 480px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 481px) and (max-width: 500px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 501px) and (max-width: 520px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 521px) and (max-width: 540px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 541px) and (max-width: 560px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 561px) and (max-width: 580px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 581px) and (max-width: 600px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 601px) and (max-width: 620px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 621px) and (max-width: 640px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 641px) and (max-width: 660px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 661px) and (max-width: 680px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}
@media (min-width: 681px) and (max-width: 700px) {

    .adminMainDiv {
        margin: auto; 
        width: 90%;
    }
    .imageDiv {
        display: flex;
        justify-content: center;
    }
    .adminLogo {
        height: 100px; 
        width: 100px; 
    }
    .inputForm {
        width: 96%;
        height: 34px;
        margin-left: 0px;
        border-radius: 5px;
        padding-left: 9px;
        outline: none;
        color: black;
        margin-bottom: 14px;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #b0acac; 
    }
    .adminInnerDiv {
        padding-top: 30px; 
        margin: auto;
        height: 400px;
        width: 90%;
        display: flex;
        margin-top: 80px;
        justify-content: center;
        background-color: white; 
    }
    .adminLogoImageDiv {
        margin: auto;
        height: 500px;
        width: 39%;
    }
    .logoInnerImageDiv {
        margin: auto;
        width: 40%;
        margin-bottom: 16px;
    }
    .adminLogoImage {
        height: 87px;
        width: 87px;
        border-radius: 47px;
    }
    .adminFormDiv {
        margin: auto;
        height: 500px;
        border: 1px solid #2f2d2d66;
        width: 61%;
    }
    .loginBtn {
      height: 32px;
      width: 87px;
      font-size: 11px;
      font-weight: bold;
      background-color: #4848b7;
      border-radius: 5px;
      border: none;
      color: white;
    }
    .formSection {
        padding-left: 92px;
        padding-top: 82px;
    }
    .loginImage {
        height: 500px;
        width: 100%;
    }
      /* Customize the Swal2 title */
      .swal2-title {
        font-size: 16px;
    }
    .swal2-html-container {
        font-size: 12px;
    }
    .swal2-popup, .swal2-modal,
    .swal2-icon-error, .swal2-show {
        width: 353px;
        height: 309px;
    }
    .swal2-styled.swal2-confirm {
        border: 0;
        border-radius: 0.25em;
        background: initial;
        background-color: #072426;
        color: #fff;
        font-size: 12px;
        width: 230px;
    }
    .swalpara {
        color: black; 
    }
    .labelHeader {
        font-size: 12px;
    }
    .rememberMeDiv {
        display: flex;
        justify-content: space-between;
    }
    .rememberMeDiv .checkboxDiv {
        display: flex;
        align-items: center;
    }
    .rememberMePara {
        font-size: 11px;
        margin-left: 4px;
    }
    
}

