.contactSupportDiv {
    margin: auto;
    width: 85%;
    height: 635px;
    background-color: #021416;
    padding-bottom: 86px;
    margin-top: 42px;
    border-radius: 20px;
}
.contactSupportInnerDiv {
    margin: auto;
    width: 70%;
    margin-top: 100px;
    display: flex;
    box-shadow: 0px 0px 30px -18px;
    height: 515px;
    background-color: #061012;
}
.userDiv {
    height: 513px;
    margin: auto;
    width: 35%;
    border: 2px solid #8e8e8e;
    background-color: #cecaca;

}
.messagingDiv {
    height: 513px;
    margin: auto;
    width: 100%;
}
.sendMessageDiv {
    padding-top: 395px;
}
.header {
    width: 100%;
    height: 70px;
    background-color: #06101200;
}
.messageForm {
    height: 43px;
    width: 79%;
    border-radius: 6px;
    padding-left: 11px;
    color: black;
    outline: none;
    border: 1px solid #c7bfbf;
    background-color: #dfdfdf;
}
.sendMessageButton {
    height: 44px;
    margin-left: 1px;
    width: 17%;
    background-color: #bd6507;
    border: none;
    font-size: 13px;
    border-radius: 6px;
    font-weight: bold;
}
.dropdown {
    margin-top: -56px;
    padding-right: 0em;
    margin-left: 17em;
}
.leftMessageDiv {
    height: 40px;
    background-color: #fff;
    width: 339px;
    float: left;
    display: flex;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 13px;
    margin-right: 119px;
}
.userMessagePara {
    color: white;
    font-size: 13px;
    padding-top: 4px;
    padding-left: 1px;
}
.leftMessageDivPara {
    color: black;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 13px;
}
.searchInputForm {
    height: 35px;
    width: 88%;
    margin-top: 12px;
    margin-left: 10px;
    padding-left: 10px;
    color: black;
    border-radius: 7px;
    border: none;
    outline: 1px solid gray;
    font-size: 12px;
    background-color: transparent;
}
.searchInputButton {
    width: 80px;
    height: 40px;
    background: gray;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
}
.rightMessageDiv {
    float: right;
    height: 37px;
    background-color: #278027;
    width: 302px;
    margin-top: 18px;
    padding-left: 13px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    margin-right: 10px;
    font-size: 16px;
    margin-left: 136px;
}
.innerUsers {
    height: 67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #00272c;
    /* border-bottom: 1px solid #dfdede; */
    /* border-top: 1px solid #dfdede; */
    padding-left: 19px;
}
.userNamePara {
    color: white;
    font-size: 12px;
}
.userProfile {
    height: 47px;
    width: 47px;
    border-radius: 36px;
    margin-right: 10px;
}
.dashboardMainDiv {
    margin-bottom: 20px
}
.userNameAndTimeDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.timePara {
    font-size: 8px;
    padding-top: 3px;
    padding-right: 10px;
    color: black;
    float: right;
    font-weight: bold;
}


/* Media query for tablets and larger screens */
@media (min-width: 768px) {

}

/* Media query for desktops and larger screens */
@media (min-width: 1366px) {
 
}

/* Media query for landscape-oriented phones */
@media (max-width: 414px) and (orientation: landscape) {

}

/* Media query for smaller mobile phones */
@media (max-width: 375px) {
 
}