body {
     font-family: 'Poppins'; 
     background-image: url('../images/bg2.jpg');
     background-repeat:no-repeat;
     background-size:cover;
     color: black; 
} 
html {
    background-color: #050401;
}
.homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
}

* {
    margin: 0px; 
    padding: 0px;  
    color: black; 
    font-family: 'Poppins';
}
.mainSection {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 243px;
    padding-left: 30px; 
    background-color: #040613; 
    padding-right: 30px; 
    background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.mainSectionContainer {
    height: 500px;
    width: 58%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 107px;
}
.addressDiv{
     margin: auto;
     width: 100%;
     height: 622px;
    background-image: url("../images/contacts/nftLoginLogo.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.fullnameAndEmailAddressDiv {
    margin-top: 16px;
    display: grid;
    justify-content: flex-start;
}
.sendMessage {
    height: 37px;
    width: 42%;
    font-size: 12px;
    color: white;
    background-color: #000c22;
    border: none;
    border-radius: 4px;
}
.inputForm {
    height: 38px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    outline: 1px solid #0000ff30;
    border: none;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bold;
    width: 92%;
    background-color: transparent;
}
.inputFormSubject {
    height: 38px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    border-radius: 6px;
    outline: 1px solid #0000ff30;
    border: none;
    font-weight: bold;
    font-size: 12px;
    width: 76%;
    background-color: transparent;
}
.formDiv {
     margin: auto;
     width: 142%;
     height: fit-content;
     padding-left: 30px;
     background-color: #fcfcfc;
     padding-top: 27px;
     padding-bottom: 50px;
}
.getInTouchHeader {
    margin-bottom: 7px;
    font-size: 2em;
    color: #00080f87;
}
.messageArea {
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    outline: 1px solid #0000ff30;
    border: none;
    font-size: 12px;
    background-color: transparent;
    width: 92%; 
    height: 167px;
}
.footerHeader, a {
    color: white; 
}
label {
    color: #0000009c; 
}


@media (min-width: 320px) and (max-width: 340px) { 
   .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -6px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
/* Media query for tablets and larger screens */
@media (min-width: 340px) and (max-width: 360px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}

/* Media query for desktops and larger screens */
@media (min-width: 360px) and (max-width: 380px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -7px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}

/* Media query for landscape-oriented phones */
@media (min-width: 380px) and (max-width: 400px) {
    .addressDiv {
        display: none;
   }
   .dropdown {
     margin-top: -68px;
     padding-right: 0em;
     margin-left: 21em;
   }
   .homeLogo {
     height: 44px;
     width: 106px;
     padding-top: 5px;
     margin-left: -3px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}

/* Media query for smaller mobile phones */
@media (min-width: 400px) and (max-width: 420px) {
    .addressDiv {
        display: none;
   }
   .dropdown {
     margin-top: -68px;
     padding-right: 0em;
     margin-left: 22em;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: 0px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}

@media (min-width: 420px) and (max-width: 440px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -9px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}

@media (min-width: 440px) and (max-width: 460px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 460px) and (max-width: 480px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 480px) and (max-width: 500px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 500px) and (max-width: 520px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 520px) and (max-width: 540px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 540px) and (max-width: 560px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 560px) and (max-width: 580px) {
    .addressDiv {
        display: none;
   }
   .formDiv {
        width: 97%;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 580px) and (max-width: 600px) {
    .addressDiv {
        display: none;
   }   
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 600px) and (max-width: 620px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 620px) and (max-width: 640px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 640px) and (max-width: 660px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 660px) and (max-width: 680px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}
@media (min-width: 680px) and (max-width: 700px) {
    .addressDiv {
        display: none;
   }
   .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
   .formDiv {
        width: 97%;
   }
   .mainSection {
        padding-left: 0px; 
        padding-right: 0px;
        padding-bottom: 58px;
   }
   .mainSectionContainer {
        width: 99%;
   }
}

@media (min-width: 962px) and (max-width: 1186px) {
    .rightNav a {
        margin-left: 16px;
        color: white;
        font-size: 13px;
    }
    .homeLogo {
     height: 44px;
     width: 107px;
     padding-top: 5px;
     margin-left: -21px;
   }
    .innerDivPc {
        float: right;
        margin-left: 14%;
    }
    .navbarDiv {
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
}