/* Customize the Swal2 title */
.swal2-title {
    font-size: 16px;
}
.swal2-html-container {
    font-size: 12px;
}
.swal2-popup, .swal2-modal,
.swal2-icon-error, .swal2-show {
    width: 353px;
    height: 309px;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #072426;
    color: #fff;
    font-size: 12px;
    width: 230px;
}
.swalPara {
    color: black; 
}


/* Media query for tablets and larger screens */
@media (min-width: 768px) {
  
}

/* Media query for desktops and larger screens */
@media (min-width: 1366px) {

}

/* Media query for landscape-oriented phones */
@media (max-width: 414px) and (orientation: landscape) {
 
}

/* Media query for smaller mobile phones */
@media (max-width: 375px) {
 
}