* {
    margin: 0px; 
    padding: 0px; 
}
body {
    font-family: 'Poppins'; 
    background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
} 
.modalScreen, 
.modalContent {
    margin-top: -100px;
    height: 100vh;
    display: none
}
.modalText {
    color: black; 
}
.modalContent {
    display: none;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.dashboardMenuLogo {
    height: 19px;
    width: 21px;
    margin-bottom: -4px;
    border-radius: 8px;
    margin-right: 7px;
}
.seperator {
    height: 22px;
    width: 213px;
    border-top: 1px solid #282626;
    margin-top: 8px;
    margin-left: 39px;
}
.dropdown {
    margin-top: -56px;
    margin-top: -56px;
    padding-left: 3px;
}
.mobileMenuSection {
    margin-bottom: 100px; 
    padding-top: 30px;
    height: 100vh;
}
.menuContainerList {
    font-size: 17px;
}
.mobile-dashboardMainSection {
    display: none;
}
.transactionContainernull {
    margin-top: 20px;
    width: 102px;
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
}

body::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #404040;
}
  
body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 3px solid #000;
}
#secondRow {
    margin-top: 60px;
}
.hotAuctionsDiv::-webkit-scrollbar-track {
    border: 1px solid #04071a00;
    padding: 1px 0;
    background-color: #09090c00;
}
.hotAuctionsDiv::-webkit-scrollbar {
    width: 10px;
}
.hotAuctionsDiv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 3px solid #000;
}
.PC-dashboardMainSection {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 100px;
    height: fit-content;
}
.navbarDiv {
    width: 86%;
}
.menuSection {
    float: left;
    width: 15%;
    height: 11vh;
    padding: 20px;
}
.menuDashboardImage {
    height: 62px;
    width: 62px; 
}
#stickyDiv, 
#menuSection {
    position: sticky;
    top: 65px;
}
.sticky-div {
    background-color: #f2f2f2;
    padding: 10px;
    position: relative;
}
.homeLogo {
    height: 39px;
    width: 127px;
    padding-top: 7px;
    padding-left: 10px;
}  
.homeSection {
    float: left;
    width: 50%;
    /* background-color: #221d443d; */
    height: fit-content;
    padding-bottom: 100px;
}
.completed {
    background-color: #1a1ac4;
}
.failure {
    background: #a4881c;
    margin-left: -22px;
}
.salesSection {
    float: left;
    width: 25%;
    background-color: #221d443d;
    height: 100vh;
}
.searchDiv {
    width: 75%;
}
.searchAndBalanceDiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    background: #0f1232;
    background: rgb(2,0,36);
    align-items: center;

}
.balanceDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #ffffff1c;
    padding-top: 7px;
    border-radius: 5px;
}
.search {
    height: 40px;
    width: 100%;
    background-color: #221d443d;
    border: none;
    border-radius: 5px;
    color: white;
    outline: 4px solid #6622453d;
    padding-left: 11px;
}
.menuContainerNavbar {
    display: none;
}
.ethPriceValue {
    color: white;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 7px;
    padding-bottom: 5px; 
}
.etherLogo {
    height: 20px;
    width: 20px;
    border-radius: 17px;
}
.discoverNow {
    height: 42px;
    width: 111px;
    background-color: #040719;
    border-radius: 5px;
    border: none;
}
.displayDiscoverDiv {
    margin-top: 30px;
    padding: 25px;
    background-color: #212a6d2e;
    /* filter: blur(1px); */
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-around;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,64,173,1) 41%, rgba(47,44,101,1) 70%, rgba(89,45,128,1) 89%);
}
.displayImageFile {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.createYours {
    width: 111px;
    height: 40px;
    border-radius: 5px;
    font-size: 12px;
    background-color: #f09837e6;
    border: none;
}
.trendingMainDiv {
    margin-top: 40px;
    width: 292px;  
}
.viewOne {
    transition: transform .2s;
    margin: 2px;
  }
  
.viewOne:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.trendingImageViews {
    height: 60px;
    width: 60px;
    border: 4px solid #cddc39b3;
    border-radius: 40px;
}
.addLogo {
    border: none;
}
.trendingViews {
    display: flex;
    padding: 14px;
    /* background-color: #3b3ba370; */
    justify-content: space-between;
}
.hotAuctionsDiv {
    margin-top: 30px;
    height: 60em;
    overflow-y: scroll;

}
.auctionsInnerDiv {
    display: flex;
    width: 100%;
    height: 230px;
    justify-content: space-between;
}
.acutionsDiv {
    width: 96%;
    background: #5151be26;
    margin: 8px;
    height: fit-content;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nftImageDisplay {
    height: 125px;
    width: 100%;
    border-radius: 13px;
    padding: 8px;
}
.userNameDisplayDiv {
    font-size: 9px;
}
.userLogo {
    height: 26px;
    width: 26px;
    margin-right: 7px;
    border-radius: 15px;
 
}
.userNameDiv {
    display: flex;
    padding-left: 9px;
    justify-content: flex-start;
}
.hotAuctionsPara {
    font-size: 27px;
}
.nftImageDisplayPreview {
    height: 260px;
    padding: 10px; 
    width: 100%;
}
.userNameDisplayDivPreview {
    font-size: 10px; 
}
.descriptionDiv {
    padding: 13px;
    height: 120px;
    margin-bottom: 10px;
    overflow-y: scroll; 
}
.descPara {
    font-size: 10px;
    color: #c7c7c7;
}
.dashboardMenuContainer {
    position: fixed;
    /* top: 0; */
    height: 90vh;
    margin-top: -51px;
    width: 397px;
    left: -400px;
    transition: left 0.3s ease-in;
    font-size: 12px;
    padding: 10px;
    border-top: 7px solid #2f2f3a;
    background-color: #030619;


}
.dashboardMenuContainer.open {
    left: 0; 
    height: 89vh;
    width: 25%;
}
button {
    margin-top: 0px; 
}
.buyNftBtn {
    background: transparent;
    height: 37px;
    width: 150px;
    background-color: #131f75;
    font-size: 12px;
    border-radius: 5px;
    border: none;
}
.ethPrice {
    color: #de8f43;
}
.placeABidButtonDiv {
    padding-left: 13px;
    padding-right: 13px;
}
.menuButton {
    padding-left: 30px; 
}
.viewsDiv {
    height: 20px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    padding-left: 9px;
    margin-top: -10px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.viewsImageLogo {
    height: 21px;
    width: 18px;
    margin-top: 5px;
    margin-right: 5px;
}
.viewsDivCount {
    font-size: 10px; 
}
.buttonSalesDiv {
    padding-left: 10px; 
}
.salesButton {
    background-color: transparent;
    font-size: 9px;
    height: 32px;
    border: none;
    font-weight: bold;
    padding: 6px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid white;
}
.currentBid {
    font-size: 12px;
}
.etherValueSales {
    padding-left: 5px;
    font-size: 12px;
    color: #dfdfdf;
    font-weight: bold;
}
.balanceDivMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px; 
    border: 1px solid #ffffff1c;
    font-size: 23px;
    height: 69px;
    padding-top: 7px;
    border-radius: 5px;
    margin-top: 0px;
}
.ethPriceValueMenu {
    color: rgb(79 173 68);
    font-size: 14px;
    padding-right: 20px;
    padding-left: 7px;
    padding-bottom: 2px;
}
.advertsSection { 
    border: 2px solid red;
    height: 55vh;
    width: 131px;
    margin-top: 27px;
}
.priceDiv {
    width: 98%;
    height: 40px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.labelPrice {
    font-size: 13px;
    font-weight: bold;
}
.ussdPrice {
    color: green; 
}
.notificationsMessage {
    font-size: 11px;
    background-color: #522c2c;
    border-radius: 15px;
    margin-bottom: 11px;
    padding-left: 3px;
    padding-top: 1px;
    padding-right: 1px;
}
.btnActive {
    border: 6px solid #6464aecf;
    border-radius: 6px;
}
.auctionTimeDiv {
    height: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.hours, .minutes, .seconds {
    height: 70px;
    width: 30%;
    font-family: 'Notable', sans-serif;
    border-radius: 6px;
    background-color: #06091f;
    border: 2px solid #17171e;
    box-shadow: 2px 0px 9px -11px;
}
.hoursPara, 
.minutesPara, 
.secondsPara {
    font-family: 'Notable', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #bbbbc7;
    padding-top: 14px;

}

/* Define the grid container styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(132px, 47fr));
    grid-gap: 11px;
    height: 57px;
  }
  
  /* Define styles for the grid items */
  .grid-item {
    text-align: center;
  }
  
.auctionEndsHeader {
    font-size: 17px; 
}
.menuDiv {
    width: 32px;
    height: 3px;
    background-color: #fbfafab2;
}

.transactionPara {
    font-size: 9px;
}
.transactionParaTransaction {
    font-size: 9px; 
    margin-top: -15px;
}
.mobileMenuSection {
    margin-bottom: 300px;
}



/* Working for mobile */
@media (min-width: 300px) and (max-width: 320px) { 
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }
}
@media (min-width: 320px) and (max-width: 340px) { 
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 17em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }
}
/* Media query for tablets and larger screens */
@media (min-width: 340px) and (max-width: 360px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }
}

/* Media query for desktops and larger screens */
@media (min-width: 360px) and (max-width: 380px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 363px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .sticky {
     width: 100%; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }
}
   

/* Media query for landscape-oriented phones */
@media (min-width: 381px) and (max-width: 400px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .dashboardContentDiv {
        display: grid;
        align-content: center;
        align-items: center;
        margin: auto;
        width: 95%;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 374px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }
}

/* Media query for smaller mobile phones */
@media (min-width: 400px) and (max-width: 420px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 391px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 22em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }
  
}

#menuContainer {
    left: -100%;
}

@media (min-width: 420px) and (max-width: 440px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 388px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 23em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}

@media (min-width: 440px) and (max-width: 460px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 460px) and (max-width: 480px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 480px) and (max-width: 500px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 500px) and (max-width: 520px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 520px) and (max-width: 540px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 540px) and (max-width: 560px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 560px) and (max-width: 580px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 580px) and (max-width: 600px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 600px) and (max-width: 620px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 620px) and (max-width: 640px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 640px) and (max-width: 660px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 660px) and (max-width: 680px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}
@media (min-width: 680px) and (max-width: 700px) {
    .mobile-dashboardMainSection {
        display: grid;
    }
    .trendingMainDiv {
        margin-top: 40px;
        width: 314px;
      }
      
    .trendingViews {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 94px;
        margin-bottom: 40px;
        padding-top: 18px;
    }
    .menuContainerNavbar {
        display: grid;
    }
   .PC-dashboardMainSection {
        display: none;
   }
   .rightNav {
        display: none;
   }
   .transactionMainDiv {
        margin-top: 20px;
    }
   .billBtn {
    height: 37px;
    width: 23%;
    font-size: 11px;
    background: #ee9637;
    border-radius: 5px;
    outline: none;
    border: 1px solid yellow;
   }
   .cashBtn {
    height: 38px;
    width: 28%;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #424040;
    font-size: 11px;
   }
   .depositBtn {
    width: 10em;
    height: 38px;
    border: 1px solid #484545;
    background-color: #0000ff1c;
    border-radius: 6px;
    outline: none;
    margin-top: 10px;
    font-size: 11px;
   }
   .fullname {
    color: #838397; 
   }
   .freezingAmount {
    font-size: 9px;
    color: #4e4e5eed;
   }
   .mobilePriceDiv {
        padding: 1em;
        height: 180px;
        background-color: #05091e;
        margin-top: 20px;
        color: black;
        border-radius: 12px;
   }
   .mobileMenuSection {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        padding-left: 4px;
        padding-top: 30px;
   }
   .dropdown {
        margin-left: 19em; 
   }
   .footerHeader {
     padding-left: 12px; 
   }
   .transactionDiv {
    display: flex;
    justify-content: inherit;
   }
   .transactionDivsecond {
    display: flex;
    justify-content: flex-start;
   }
   .transactionContainer {
    margin-top: 5px;
    width: 32%; 
    height: 7em;
    border-radius: 7px;
    margin-bottom: 11px;
    padding: 10px;
   }
   .waiting {
    background-color: #2626b9; 
   }
   .pairing {
    background-color: #3b3bbf;
   }
   .inProgress {
    background-color: #4e4eb9;
   }

}

