
label {
    font-size: 13px;
}
.mobileDepositSection {
    display: none;
}
.qrCodeDiv {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
}
.transactionRefDiv {
    margin-bottom: 30px;
}
.copyAddressBtnDiv {
    margin-top: 16px;
}
.copyLogo {
    height: 21px;
    width: 23px;
    margin-top: 4px;
    border-radius: 2px;
}
.copyAddressBtn {
    width: 152px;
    display: flex;
    align-items: center;
    padding: 1px;
    justify-content: space-evenly;
    font-size: 12px;
    background-color: #0b0e22;
    border: 1px solid #514c4c;
    border-radius: 5px;
}
/* .gasLimitLabel {
    font-size: 12px;
} */
.transactionRef {
    height: 37px;
    width: 80%;
    background: #1b203c;
    padding-left: 10px;
    border: 1px solid #736c6c;
    outline: none;
    font-size: 9px;
    border-radius: 5px;
}
.para {
    font-size: 12px;
}
.paraDiv {
    margin-bottom: 30px;
}
.qrCodeImage {
    height: 146px;
    width: 173px;
}
/* Media query for tablets and larger screens */
@media (min-width: 300px) and (max-width: 320px) {
    .mobileDepositSection {
        display: grid;
    }
    .dropdown {
        margin-left: 17em; 
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 74%;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;

        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .sticky {
        position: fixed;
        top: 0px;
        width: 100%;
    }
    .inputFormButton {
        height: 44px;
        width: 267px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 321px) and (max-width: 340px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
/* Media query for tablets and larger screens */
@media (min-width: 341px) and (max-width: 360px) {
    .mobileDepositSection {
        display: grid;
    }
    .sticky {
        width: 100%;
    }
    .depositEther {
        margin-left: 10px;
        width: 95%;
        height: 506px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 28px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .navbarDiv {
        width: 100%;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}

/* Media query for desktops and larger screens */
@media (min-width: 361px) and (max-width: 380px) {
    .mobileDepositSection {
        display: grid;
    }
    .sticky {
        width: 90%;
    }
    .dropdown {
        margin-left: 20em;
        margin-right: -6px;
    }
    .homeLogo {
        height: 39px;
        width: 97px;
        padding-top: 7px;
        padding-left: 0px;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 87%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}

/* Media query for landscape-oriented phones */
@media (min-width: 381px) and (max-width: 400px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 5px;
        margin-top: 30px;
        width: 98%;
        height: 506px;
        padding: 5px;
          padding-top: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}

/* Media query for smaller mobile phones */
@media (min-width: 401px) and (max-width: 420px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 95%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}

@media (min-width: 421px) and (max-width: 440px) {
    .mobileDepositSection {
        display: grid;
    }
    .dropdown {
        margin-left: 23em;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 96%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}

@media (min-width: 441px) and (max-width: 460px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 461px) and (max-width: 480px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 481px) and (max-width: 500px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 501px) and (max-width: 520px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 521px) and (max-width: 540px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 541px) and (max-width: 560px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 561px) and (max-width: 580px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 581px) and (max-width: 600px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 601px) and (max-width: 620px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 621px) and (max-width: 640px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 641px) and (max-width: 660px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 661px) and (max-width: 680px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 83%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}
@media (min-width: 681px) and (max-width: 700px) {
    .mobileDepositSection {
        display: grid;
    }
    .depositEther {
        margin-left: 10px;
        margin-top: 30px;
        width: 95%;
        height: 506px;
        padding: 5px;
        padding-top: 5px;
        margin-top: 59px;
        background-color: #0b0e22;
        padding-top: 32px;
        margin-bottom: 200px;
        height: fit-content;
        padding-bottom: 50px;
        border: 1px solid #14171a;
    }
    .innerDepositEtherDiv {
        margin: auto;
        width: 92%;
    }
    .sendEther {
        font-size: 19px;
        margin-bottom: 16px;
    }
    .inputForm {
        width: 134px;
        height: 37px;
        margin-bottom: 19px;
        color: black;
        padding-left: 20px;
        font-size: 12px;
        outline: none;
        border-radius: 5px;
        margin-right: 3px;
        border: none;
    }
    
    .ethAddress, 
    .gasLimitDiv {
        background-color: #1b203c;
        color: white;
        height: 48px;
        width: 100%;
        object-fit: fill;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 8px;
        border-radius: 5px;
        border: 1px solid #4a4a48;
    }
    .gasLimitDiv {
        margin-top: 2px;
        padding: 10px; 
    }
    .copyLogo {
        height: 40px;
        width: 40px;
    }
    .ethAddressDiv {
        display: grid;
        justify-items: left;
        align-items: center;
        align-content: center;
    }
    .ethAddress {
        height: 45px;
        width: 90%;
        padding-left: 47px;
        padding-right: 4px;
    }
    .ethAddressValue {
        font-size: 13px;
        margin-left: 0px;
    }
    .selectOption {
        height: 37px;
        width: 101px;
        background: #1b203c;
        padding-left: 10px;
        border: 1px solid #736c6c;
        font-size: 9px;
    }
    .inputAndSelectDiv {
        display: flex;
    }
    .inputFormButton {
        height: 44px;
        width: 305px;
        background-color: #2000ff;
        border: none;
        font-size: 13px;
        font-weight: bold;
        border-radius: 7px;
    }
    .dashboardMainDiv {
        margin-bottom: 0px;
    }

}

