* {
    margin: 0px; 
    padding: 0px; 
}
body {
    font-family: 'Poppins'; 
    background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    color: black; 
} 
.fontColor {
    color: black; 
}
.actualLoginContent {
    margin: auto;
    width: 100%;
    margin-left: -35px; 
}
.loginMainDiv {
    margin: auto;
    display: flex;
    margin-top: 100px;
    width: 50%;
    color: black;
    height: 526px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.imageDisplayDiv {
    height: 547px;
    width: 300px;
}
.loginMessageHeader {
    font-size: 10px; 
}
.imageDisplay {
    height: 526px;
    margin-top: 11px;
    width: 332px;
    margin-left: -81px;
}
.actualLoginDiv {
    background-color: white;
    width: 378px;
    padding-left: 86px;
    height: 520px;
    margin-left: -50px;
    padding-top: 20px; 
}
.submitButton {
    width: 20em;
    height: 3em;
    color: white;
    background-color: #2962ff;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid white;
}
.inputFormFields {
    height: 37px;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #00000047;
    color: black;
    outline: 1px solid #0000000a;
    width: 20em;
    margin-bottom: 12px;
}
.password {
    margin-top: 0px; 
}
.eyeLogo {
    margin-left: -31px;
}
.codeDisplay {
    font-size: 12px;
    text-align: center;
    padding-left: 70px;
    color: white;
}
.displayCodeDiv {
    background-color: #1a1a1ade;
    width: 175px;
    height: 40px;
    padding-top: 7px;
    margin-top: 0px;
    margin-bottom: 8px;
    border-radius: 5px;
    margin-left: 32px;
}
.RadioSectionDisplay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rememberMeDiv {
    display: flex;
}
.rememberMe, 
.forgotPassword {
    font-size: 10px; 
}
.forgotPasswordDiv {
    margin-left: 71px; 
}
.rememberMe {
    margin-left: 4px; 
}
.nftLoginHeader {
    color: #353535ab; 
}
.nftLogo {
    height: 40px;
    width: 254px;
}
.nftLogoDiv {
    margin-bottom: 16px; 
}
.orDivSeperation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.orPara {
    font-size: 12px;
    margin-top: 16px;
}
.lightWhite {
    color: #a3a3a5; 
}
.doNotHaveAnAccountPara {
    width: 224px;
    font-size: 11px;
    margin-top: 12px;
}

  
  /* Customize the Swal2 title */
.swal2-title {
    font-size: 16px;
}
.swal2-html-container {
    font-size: 12px;
}
.swal2-popup, .swal2-modal,
.swal2-icon-error, .swal2-show {
    width: 353px;
    height: 309px;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #072426;
    color: #fff;
    font-size: 12px;
    width: 230px;
}
.swalpara {
    color: black; 
}
hr {
    border: 1px solid #cec5c53d;
    color: #a89c9c;
}


@media (min-width: 320px) and (max-width: 320px) { 
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 62px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 27px;
        margin-left: -16px;
    }
    .nftLogo {
        height: 43px;
        width: 199px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #1a1a1ade;
        width: 175px;
        height: 38px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 17px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .nftLogo {
        height: 56px;
        width: 212px;
        margin-bottom: 8px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 203px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 239px; 
    }
    
    .submitButton {
        width: 17em;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 2px;
        border: 1px solid #2962ff;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 204px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}
/* Media query for tablets and larger screens */
@media (min-width: 360px) and (max-width: 360px) {
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 90%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 53px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
        padding-left: 9px;
    }
    .nftLogo {
        height: 43px;
        width: 199px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #1a1a1ade;
        width: 175px;
        height: 38px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 37px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .nftLogo {
        height: 56px;
        width: 212px;
        margin-bottom: 8px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 248px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 239px; 
    }
    
    .submitButton {
        width: 252px;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #2962ff;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}

/* Media query for desktops and larger screens */
@media (min-width: 375px) and (max-width: 379px) {
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 62px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
        padding-left: 18px;
    }
    .nftLogo {
        height: 44px;
        width: 212px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #030617de;
        width: 173px;
        height: 39px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 34px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 252px;
           
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -27px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .nftLogo {
        height: 56px;
        width: 212px;
        margin-bottom: 8px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 254px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 217px;
    }
    
    .submitButton {
        width: 21em;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #2962ff;
    }
    .codeDisplay {
        font-size: 12px;
        text-align: center;
        padding-left: 74px;
        color: white;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}

/* Media query for landscape-oriented phones */
@media (min-width: 380px) and (max-width: 390px) {
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 62px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 27px;
        margin-left: -16px;
    }
    .nftLogo {
        height: 40px;
        width: 279px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #030617de;
        width: 173px;
        height: 39px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 34px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 253px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .nftLogo {
        height: 56px;
        width: 212px;
        margin-bottom: 8px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 254px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 279px;
    }
    
    .submitButton {
        width: 21em;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #2962ff;
    }
    .codeDisplay {
        font-size: 12px;
        text-align: center;
        padding-left: 74px;
        color: white;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}

/* Media query for smaller mobile phones */
@media (min-width: 400px) and (max-width: 480px) {
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 73px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -9px;
    }
    .nftLogoDiv {
        margin-bottom: 27px;
        margin-left: -16px;
    }
    .nftLogo {
        height: 56px;
        width: 274px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #030617de;
        width: 173px;
        height: 39px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 34px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 254px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 279px;
    }
    
    .submitButton {
        width: 21em;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #2962ff;
    }
    .codeDisplay {
        font-size: 12px;
        text-align: center;
        padding-left: 74px;
        color: white;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 62px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 27px;
        margin-left: -16px;
    }
    .nftLogo {
        height: 56px;
        width: 256px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #030617de;
        width: 173px;
        height: 39px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 34px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .nftLogo {
        height: 56px;
        width: 212px;
        margin-bottom: 8px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 254px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 279px;
    }
    
    .submitButton {
        width: 21em;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #2962ff;
    }
    .codeDisplay {
        font-size: 12px;
        text-align: center;
        padding-left: 74px;
        color: white;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 204px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 62px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 27px;
        margin-left: -16px;
    }
    .nftLogo {
        height: 56px;
        width: 256px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #030617de;
        width: 173px;
        height: 39px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 34px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .nftLogo {
        height: 56px;
        width: 212px;
        margin-bottom: 8px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 254px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 279px;
    }
    
    .submitButton {
        width: 21em;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #2962ff;
    }
    .codeDisplay {
        font-size: 12px;
        text-align: center;
        padding-left: 74px;
        color: white;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 204px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}

@media (min-width: 810px) and (max-width: 900px) {
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
        width: 280px;
        height: 290px;
        margin-right: 20px;
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginDiv {
        background: white;
        width: 100%;
        padding-left: 62px;
        padding-top: 26px;
        color: black;
        border-radius: 5px;
        margin-left: -3px;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 27px;
        margin-left: -16px;
    }
    .nftLogo {
        height: 56px;
        width: 256px;
        margin-bottom: 8px;
    }
    .displayCodeDiv {
        background-color: #030617de;
        width: 173px;
        height: 39px;
        padding-top: 7px;
        margin-top: 0px;
        margin-bottom: 8px;
        border-radius: 5px;
        margin-left: 34px;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 50px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
        color: #807a7a;
    
    }
    .nftLoginHeader {
        color: #f2efefa8;
        margin-bottom: 11px;
    }
    .loginMainDiv {
        margin-top: 49px;
        width: 86%;
        color: black;
        height: 526px;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
    }
    .imageDisplayDiv {
        display: none;
    }
    .actualLoginContent {
        width: 100%;
        margin-left: -24px;
    }
    .nftLogoDiv {
        margin-bottom: 32px;
    }
    .nftLogo {
        height: 56px;
        width: 212px;
        margin-bottom: 8px;
    }
    .inputFormFields {
        height: 41px;
        padding-left: 10px;
        font-size: 11px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 254px;
        font-weight: bold;
    }
    .HorizontalLine {
        width: 279px;
    }
    
    .submitButton {
        width: 21em;
        height: 33px;
        color: white;
        background-color: #2962ff;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #2962ff;
    }
    .codeDisplay {
        font-size: 12px;
        text-align: center;
        padding-left: 74px;
        color: white;
    }
    .RadioSectionDisplay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 204px;
    }
    .rememberMe {
        margin-left: 5px;
    }
    .forgotPasswordDiv {
        margin-left: 1px;
    }
    .rememberMe, .forgotPassword {
        font-size: 10px;
    }
}
  