 /* Style the grid container */
 .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-bottom: 3px solid #1e1e28;
    height: 150vh;
    padding: 7px;
    padding-bottom: 7px;
    overflow-y: scroll;
    margin-bottom: 300px;
    padding-bottom: 45px;
}

/* Style the individual grid items (images) */
.gridItem {
    width: 100%;
    height: 340px;
    background-color: #060a22;
    padding: 7px;
    border: 1px solid #0c1237;
    border-radius: 5px;
}
.marketplaceParaDiv {
    margin-bottom: 6px;
    margin-top: -6px;
}
.innerNavDiv {
    margin-top: 20px;
    border-bottom: 1px solid #202022;
    height: 86px;
    padding: 10px;
    margin-bottom: 11px;
    border-top: 1px solid #17171745;
    box-shadow: 1px 4px 8px -7px;
}
.searchInputForm {
    height: 37px;
    width: 230px;
    margin-right: 4px;
    color: black;
    padding-left: 10px;
    font-size: 11px;
    outline: 2px solid #050c31;
    border-radius: 5px;
}
.searchBtn {
    display: flex;
    background-color: #070B22AB;
    height: 37px;
    width: 261px;
    justify-content: center;
    align-items: center;
    padding: 17px;
    border-radius: 5px;
    border: 1px solid #403d3d61; 
    font-size: 10px;
}
.searchDiv {
    display: flex;
}
.searchLogo {
    height: 21px;
    margin-top: 7px;
    margin-left: 7px;
}
.nftDataImage {
    height: 215px;
    width: 100%;
    border: 1px solid #030617;
    border-radius: 5px;
}
.viewsLogo {
    height: 17px;
    width: 15px;
    border-radius: 5px;
}
.views {
    display: flex;
}
.viewsCountDiv {
    padding-left: 4px;
    font-size: 12px;
}
.userProfileDiv {
    display: flex;
    justify-content: start;
    width: 100%;
}
.viewsCountPara {
    font-size: 12px;
    font-weight: bold;
    color: #6e6f95;
}
.profileImage {
    height: 29px;
    width: 29px;
    border-radius: 14px;
}
.userDetailsDiv {
    margin-left: 10px;
}
.userDetails {
    font-size: 9px;
}
.buyBtn {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #3735357a;
    background: #2626d9;
    font-size: 10px;
    margin-top: 4px;
    font-weight: bold;
}
.cartLogo {
    width: 62px;
    height: 61px;
}
.cartBottomDiv {
    width: 65px;
    height: 65px;
    position: fixed;
    top: 75%;
    right: 8%;
    border-radius: 9px;
    padding: 40px;
    margin-bottom: 30px;
}
.cartNumberDiv {
    border: 2px solid red;
    width: 24px;
    padding-left: 6px;
    background: red;
    height: 24px;
    border-radius: 13px;
    padding-top: 1px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: -5px;
}


/* Media Query */
@media (min-width: 300px) and (max-width: 320px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 321px) and (max-width: 340px) {
        /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }
    

}
/* Media query for tablets and larger screens */
@media (min-width: 341px) and (max-width: 360px) {
        /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}

/* Media query for desktops and larger screens */
@media (min-width: 361px) and (max-width: 380px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}

/* Media query for landscape-oriented phones */
@media (min-width: 381px) and (max-width: 400px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}

/* Media query for smaller mobile phones */
@media (min-width: 401px) and (max-width: 420px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}

@media (min-width: 421px) and (max-width: 440px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}

@media (min-width: 441px) and (max-width: 460px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 461px) and (max-width: 480px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 481px) and (max-width: 500px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 501px) and (max-width: 520px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 521px) and (max-width: 540px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 541px) and (max-width: 560px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 561px) and (max-width: 580px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 581px) and (max-width: 600px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 601px) and (max-width: 620px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 621px) and (max-width: 640px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 641px) and (max-width: 660px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 661px) and (max-width: 680px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
@media (min-width: 681px) and (max-width: 700px) {
    /* Style the grid container */
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        /* border: 1px solid #1e1e28;  */
        height: 150vh;
        padding: 7px;
        overflow-y: scroll;
        margin-bottom: 300px;
    }

    /* Style the individual grid items (images) */
    .gridItem {
        width: 100%;
        height: 340px;
        background-color: #060a22;
        padding: 7px;
        border: 1px solid #0c1237;
        border-radius: 5px;
    }
    .marketplaceParaDiv {
        margin-bottom: 6px;
        margin-top: -6px;
    }
    .innerNavDiv {
        margin-top: 20px;
        border-bottom: 1px solid #202022;
        height: 86px;
        padding: 10px;
        margin-bottom: 11px;
        border-top: 1px solid #17171745;
        box-shadow: 1px 4px 8px -7px;
    }
    .searchInputForm {
        height: 37px;
        width: 230px;
        margin-right: 4px;
        color: black;
        padding-left: 10px;
        font-size: 11px;
        outline: 2px solid #050c31;
        border-radius: 5px;
    }
    .searchBtn {
        display: flex;
        background-color: #070B22AB;
        height: 37px;
        width: 261px;
        justify-content: center;
        align-items: center;
        padding: 17px;
        border-radius: 5px;
        border: 1px solid #403d3d61; 
        font-size: 10px;
    }
    .searchDiv {
        display: flex;
    }
    .searchLogo {
        height: 21px;
        margin-top: 7px;
        margin-left: 7px;
    }
    .nftDataImage {
        height: 215px;
        width: 100%;
        border: 1px solid #030617;
        border-radius: 5px;
    }
    .viewsLogo {
        height: 17px;
        width: 15px;
        border-radius: 5px;
    }
    .views {
        display: flex;
    }
    .viewsCountDiv {
        padding-left: 4px;
        font-size: 12px;
    }
    .userProfileDiv {
        display: flex;
        justify-content: start;
        width: 100%;
    }
    .viewsCountPara {
        font-size: 12px;
        font-weight: bold;
        color: #6e6f95;
    }
    .profileImage {
        height: 29px;
        width: 29px;
        border-radius: 14px;
    }
    .userDetailsDiv {
        margin-left: 10px;
    }
    .userDetails {
        font-size: 9px;
    }
    .buyBtn {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        outline: none;
        border: 1px solid #3735357a;
        background: #2626d9;
        font-size: 10px;
        margin-top: 4px;
        font-weight: bold;
    }

}
