
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    color: white;
    cursor:auto;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    object-fit: cover;
    width: 100%;
    color: wheat;
}
.paraGraphText {
    font-size: 13px;
}
.container {
    text-align: center;
    margin-top: 22px;
    padding: 40px;
    max-width: 400px;
    margin: 0 auto;
    /* background-color: #fff; */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.homeBtn {
    height: 32px;
    width: 93px;
    border-radius: 5px;
    background: #594115;
    margin-left: 8px; 
    border: 1px solid white;
}
.viewDashboard {
    width: 139px;
    height: 31px;
    margin-top: 20px;
    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 11px;
}
a {
    text-decoration: none;
}