* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
.profileDiv {
    height: fit-content;
    background-image: url("../images/profile/bg.jpg");
    background-size: cover; /* This will make the image cover the entire div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center;
    margin-bottom: 20px;
    width: 100%;
    padding: 2px solid white;
    display: flex;
    justify-content: center;
    padding-top: 40%;
    margin-top: 25px; 
}
body {
    color: black; 
    font-family: 'Poppins';
}
.paraLabel {
    font-size: 89%;
    color: black; 
    font-weight: bold;
}
.para,
.countrPara,
li {
    color: black; 
    font-size: 65%;
    font-weight: bold;
}
.firstnameProfile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55px;
    
}
.userProfileDiv {
    height: fit-content;
    background: white;
    color: black;
    width: 100%;
    padding: 24px;
    padding-bottom: 100px;
    margin-bottom: 200px;
}
.custom-table {
    border-collapse: collapse;
    width: 100%;
}

.custom-table th, .custom-table td {
    border: 1px solid white;
    padding: 5px;
    text-align: left;
    background-color: white; /* White background for all rows */
    color: black; /* Black text color for all rows */
}
.tableRow {
    border-top: 2px solid #00000008;
    border-bottom: 2px solid #00000008;
}
.btnflexDiv {
    width: 81%;
    margin-top: 15px;
    display: flex;
}
.changeBtn {
    width: 60%;
    height: 37px;
    border: 1px solid #b55d5d;
    margin-right: 10px;
    border-radius: 5px;
    color: #b55d5d;
    font-size: 11px;
}
.editProfileBtn {
    height: 37px;
    border: 1px solid #b55d5d;
    margin-right: 10px;
    border-radius: 5px;
    color: #b55d5d;
    font-size: 11px;
    width: 40%; 
}
.contactSupportBtn {
    height: 37px;
    border: 1px solid #b55d5d;
    margin-right: 10px;
    border-radius: 5px;
    color: #b55d5d;
    font-size: 11px;
    width: 50%; 
}
.divider {
    border: 1px solid #eee;
    margin-top: 64px;
}
.verifiedDisplay {
    background: orange;
    padding: 10px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    padding-left: 13px;
}
/* Styles for the modal */
.modalEditProfile {
    position: fixed;
    top: 0;
    left: -100%;
    /* left: 0px;  */
    width: 100%;
    height: 100vh;
    background-color: #060813;
    transition: left 0.3s ease-in;
    font-size: 12px;
    padding: 10px;
}

.openModal {
    left: 0; 
    width: 100%;
}
.open {
    left: 0; 
    width: 100%;
}
.modal {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    transition: left 0.3s ease-in;
    height: 100%;/* Blue background with transparency */
    z-index: 1;
}
.modalContentEditProfile {
    position: fixed;
    margin: auto;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    color: black;
    border: 1px solid #dfdfdf;
}
.modalContent {
    position: fixed;
    margin: auto;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    color: black;
    border: 1px solid #dfdfdf;
}

/* Close button */
.close {
    position: absolute;
    top: 6px;
    right: 23px;
    font-size: 34px;
    color: black;
    cursor: pointer;
}

/* Style the open button */
#openModalBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#openModalBtn:hover {
    background-color: #0056b3;
}
.changePasswordDiv {
    padding-top: 50px;
}
.inputForm {
    width: 87%;
  height: 3em;
  border-radius: 4px;
  border: 1px solid #a89d9dba;
  color: #555353;
  padding-left: 8px;
  font-size: 12px;
}
.oldPasswordDiv {
    margin-bottom: 11px;
}
.changePasswordModalBtn {
    height: 37px;
    width: 53%;
    background-color: #111191;
    font-weight: bold;
    font-size: 11px;
    border-radius: 4px;
    border: none;
    margin-top: 7px; 
}
/* Customize the Swal2 title */
.swal2-title {
    font-size: 16px;
}
.swal2-html-container {
    font-size: 12px;
}
.swal2-popup, .swal2-modal,
.swal2-icon-error, .swal2-show {
    width: 353px;
    height: 309px;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #072426;
    color: #fff;
    font-size: 12px;
    width: 230px;
}
.swalpara {
    color: black; 

}
.innerFormDiv {
    margin-bottom: 8px;
}
.inputFormEditProfile {
    height: 37px;
    color: black;
    font-size: 12px;
    padding-left: 10px;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #bfb6b6;
    outline: none;
}
.submitBtn {
    height: 36px;
  width: 50%;
  margin-top: 9px;
  background: #21217d;
  font-size: 11px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
}


