@import url(https://fonts.googleapis.com/css?family=Roboto:500);
* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
body {
    font-family: 'Poppins'; 
    background-image: url('../images/bg2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    color: black; 
} 
.headerDiv {
    height: 8px;
    background-color: #000812cf;
    margin-top: -20px;
    margin-left: -86px;
    margin-bottom: 35px;
}
.fontColor {
    color: black; 
}
.actualLoginContent {
    margin: auto;
    width: 100%;
    margin-left: -35px; 
}
.loaders {
    display: flex;
    justify-content: center;
    margin: auto; 
    width: 50%;
    padding: 70px; 
}

.loaderDiv {
    height: 100vh;
    display: flex;
    background-color: #1e2a52;
}
.loginMainDiv {
    margin: auto;
    margin-top: 50px;
    width: 50%;
    display: flex;
    color: black;
    height: 600px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.imageDisplayDiv {
    height: 547px;
    width: 246px;
}
.loginMessageHeader {
    font-size: 10px; 
}
.imageDisplay {
    height: 600px;
    margin-top: -26px;
    width: 332px;
    margin-left: -81px;
}
.actualLoginDiv {
    background-color: white;
    width: 307px;
    padding-left: 69px;
    height: 597px;
    padding-right: 31px;
    padding-top: 20px;
    margin-left: 3px;
}
.submitButton {
    width: 243px;
    height: 3em;
    color: white;
    background-color: #2962ff;
    font-size: 12px;
    border-radius: 2px;
    border: 1px solid white;
}
.inputFormFields {
    height: 30px;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #00000047;
    color: black;
    outline: 1px solid #0000000a;
    width: 20em;
}
.password {
    margin-top: 10px; 
}
.codeDisplay {
    font-size: 12px;
    text-align: center;
    padding-left: 70px;
    color: white;
}
.displayCodeDiv {
    background-color: #1a1a1ade;
    width: 175px;
    height: 40px;
    padding-top: 7px;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 5px;
    margin-left: 32px
}
.RadioSectionDisplay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3px; 
}
#menuContainer {
    left: -100%;
}
.register, 
.termsAndConditions {
    color: #525261;
    font-size: 10px; 
}
.rememberMeDiv {
    display: flex;
    padding-top: 3px;
    align-items: flex-start;
    justify-content: center;
}
.rememberMe, 
.forgotPassword {
    font-size: 10px; 
}
.forgotPasswordDiv {
    margin-left: 71px; 
}
/* $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2; */

.google-btn {
    width: 203px;
    display: flex;
    height: 38px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    margin-left: 17px;
    margin-top: 15px;
    margin-bottom: 7px;
    align-items: center;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 36px;
    border-radius: 2px;
    background-color: white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    font-size: 12px;
    padding-left: 62px;
    margin-top: 0px;
    font-weight: bold;
  }


 
#facebook, 
#twitter, 
#google, 
#linkedin,
#youtube,  
#instagram {
    font-size: 24px;
}
.socialMediaDiv {
    margin-top: 6px; 
    display: flex;
}
.rememberMe {
    margin-left: 4px;
    margin-top: -2px;
    font-size: 9px;
    line-height: 11px;
    margin-bottom: 10px;
}
.nftLoginHeader {
    color: #353535ab; 
}
.nftLogo {
    height: 40px;
    width: 254px;
}
.nftLogoDiv {
    margin-bottom: 16px; 
}
.orDivSeperation {
    display: flex;
    align-items: center;
    justify-content: center;
}
.orPara {
    font-size: 12px;
    margin-top: 16px;
}
.eyeLogo {
    height: 11px;
    margin-left: -26px;
    margin-top: 12px;
    width: 16px;
}
.lightWhite {
    color: #a3a3a5; 
}
.doNotHaveAnAccountPara {
    width: 224px;
    font-size: 10px;
    margin-top: 4px;
    text-align: center;
}
.inputForm {
    height: 37px;
    padding-left: 10px;
    font-size: 11px;
    border-radius: 6px;
    border: 1px solid #00000047;
    color: black;
    outline: 1px solid #0000000a;
    width: 22em;
    margin-bottom: 11px;
    font-weight: bold;
}

  
  /* Customize the Swal2 title */
.swal2-title {
    font-size: 16px;
}
.swal2-html-container {
    font-size: 12px;
}
.swal2-popup, .swal2-modal,
.swal2-icon-error, .swal2-show {
    width: 353px;
    height: 309px;
}
.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #072426;
    color: #fff;
    font-size: 12px;
    width: 230px;
}
.swalpara {
    color: black; 
}
hr {
    border: 1px solid #cec5c53d;
    color: #a89c9c;
}
.inputFormFields {
    height: 30px;
    padding-left: 10px;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #00000047;
    color: black;
    outline: 1px solid #0000000a;
    width: 20em;
}


/* Adding media queries for the login page  */

@media (min-width: 320px) and (max-width: 340px) { 
    .google-btn {
        margin-left: 15px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
    }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px;
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }
   
}
/* Media query for tablets and larger screens */
@media (min-width: 341px) and (max-width: 360px) {
    .google-btn {
        margin-left: 20px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
      }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px; 
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }
 
}

/* Media query for desktops and larger screens */
@media (min-width: 361px) and (max-width: 379px) {
    .google-btn {
        margin-left: 20px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
      }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px; 
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }
   
}

/* Media query for landscape-oriented phones */
@media (min-width: 380px) and (max-width: 390px) {
    .google-btn {
        margin-left: 20px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
      }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px; 
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }
}


/* Media query for smaller mobile phones */
@media (min-width: 391px) and (max-width: 480px) {
    .google-btn {
        margin-left: 20px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
      }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px; 
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .google-btn {
        margin-left: 20px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
      }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px; 
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }

}

@media (min-width: 768px) and (max-width: 800px) {
    .google-btn {
        margin-left: 20px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
      }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px; 
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }
}

@media (min-width: 810px) and (max-width: 900px) {
    .google-btn {
        margin-left: 20px;
    }
    body {
        font-family: 'Poppins';
        background-image: url('../images/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .headerDiv {
        height: 8px;
        background-color: #162e8c;
        margin-top: -20px;
        margin-left: -59px;
        margin-bottom: 35px;
        width: 137%;
      }
    .inputForm {
        height: 41px;
        padding-left: 10px;
        font-size: 12px;
        border-radius: 6px;
        border: 1px solid #00000047;
        color: black;
        outline: 1px solid #0000000a;
        width: 20em;
        margin-bottom: 11px;
    }
    .imageDisplay {
        width: 0px;
        margin-left: 0px;
        display: none; 
    }
    .actualLoginDiv {
        background-color: white;
        width: 307px;
        padding-left: 69px;
        height: 625px;
        padding-right: 31px;
        padding-top: 20px;
        margin-left: 3px; 
    }
    .submitButton {
        width: 20em;
    }
    .RadioSectionDisplay {
        width: 240px;
    }

}