/* Loader styling */
.loaders {
    display: flex;
    justify-content: center;
    margin: auto; 
    width: 50%;
    padding: 70px; 
}

.loaderDiv {
    height: 100vh;
    display: flex;
    background-color: #1e2a52;
}


* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
body {
    font-family: 'Poppins';
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.swal2-popup, .swal2-modal, .swal2-icon-error, .swal2-show {
    width: 280px;
    height: 290px;
    margin-right: 20px;
}
.nftLoginHeader {
    color: #f2efefa8;
    margin-bottom: 11px;
}
.loginMainDiv {
    margin-top: 49px;
    width: 86%;
    color: black;
    height: 526px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.imageDisplayDiv {
    display: none;
}
.actualLoginDiv {
    background: white;
    width: 110%;
    padding-left: 62px;
    padding-top: 26px;
    color: black;
    border-radius: 5px;
    margin-left: -3px;
}
.actualLoginContent {
    width: 100%;
    margin-left: -24px;
}
.nftLogoDiv {
    margin-bottom: 32px;
    padding-left: 9px;
}
.nftLogo {
    height: 43px;
    width: 199px;
    margin-bottom: 8px;
}
.displayCodeDiv {
    background-color: #1a1a1ade;
    width: 175px;
    height: 38px;
    padding-top: 7px;
    margin-top: 0px;
    margin-bottom: 8px;
    border-radius: 5px;
    margin-left: 17px;
}
.RadioSectionDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 254px;
}
.rememberMe {
    margin-left: 5px;
}
.forgotPasswordDiv {
    margin-left: 50px;
}
.rememberMe, .forgotPassword {
    font-size: 10px;
    color: #807a7a;

}
.nftLoginHeader {
    color: #f2efefa8;
    margin-bottom: 11px;
}
.loginMainDiv {
    margin-top: 49px;
    width: 86%;
    color: black;
    height: 526px;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}
.imageDisplayDiv {
    display: none;
}
.actualLoginContent {
    width: 100%;
    margin-left: -24px;
}
.nftLogoDiv {
    margin-bottom: 32px;
}
.nftLogo {
    height: 56px;
    width: 212px;
    margin-bottom: 8px;
}
.inputFormFields {
    height: 36px;
    padding-left: 10px;
    font-size: 11px;
    border-radius: 6px;
    border: 1px solid #00000047;
    color: black;
    outline: 1px solid #0000000a;
    width: 203px;
    font-weight: bold;
}
.HorizontalLine {
    width: 239px; 
}

.submitButton {
    width: 17em;
    height: 33px;
    color: white;
    background-color: #2962ff;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #2962ff;
}
.RadioSectionDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 204px;
}
.rememberMe {
    margin-left: 5px;
}
.forgotPasswordDiv {
    margin-left: 1px;
}
.rememberMe, .forgotPassword {
    font-size: 10px;
}