.nftUploadDisplayDiv {
  display: flex;
  align-items: center;
}
.uploadedFileName {
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
  color: #7a79a4;
}



@media (min-width: 300px) and (max-width: 320px) {
    /* Customize the Swal2 title */
  .swal2-title {
    font-size: 16px;
  }
  .swal2-html-container {
    font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
    width: 353px;
    height: 309px;
  }
  .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #072426;
    color: #fff;
    font-size: 12px;
    width: 230px;
  }
  .swalPara {
    color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
    display: none;
  }

  /* Style the custom button */
  .custom-file-input #fileLabel {
  display: inline-block;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }

  label {
  font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
  background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
  outline: 1px solid #2980b9;
  }
  #nftDescription {
  width: 95%;
  padding: 10px;
  color: black;
  font-size: 12px;
  border-radius: 5px;
  outline: 2px solid #7070b0;
  border: none;
  }
  .createNftButton {
  height: 34px;
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  background: transparent;
  border: 1px solid #2f2c2c;
  border-radius: 5px;
  }
  .category {
  margin-bottom: 11px;
  background: transparent;
  padding: 7px;
  width: 41%;
  border-radius: 5px;
  border: 1px solid #372f2f;
  font-size: 12px;
  }
  .createNftMobile {
  padding: 20px;
  margin-bottom: 200px;
  }

  .inputForm {
  width: 89%;
  height: 33px;
  color: black;
  font-size: 11px;
  padding-left: 10px;
  border-radius: 5px;
  outline: 2px solid #49498a;
  border: none;
  margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
  margin-bottom: 20px;
  width: 89%;
  }
  .createNftInnerDiv {
  display: grid;
  align-content: center;
  align-items: center;
  margin: auto;
  margin-top: auto;
  width: 95%;
  margin-top: 40px;
  }
  .uploadNftFormDiv {
  margin-top: 15px;
  margin-bottom: 11px;
  }
  .nftBlobFile {
  height: 35px;
  font-size: 11px;
  width: 50%;
  background-color: #121286;
  border: 1px solid #121286;
  border-radius: 5px;
  }

}
@media (min-width: 321px) and (max-width: 340px) {
  /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
/* Media query for tablets and larger screens */
@media (min-width: 341px) and (max-width: 360px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}

/* Media query for desktops and larger screens */
@media (min-width: 361px) and (max-width: 380px) {
    /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}

/* Media query for landscape-oriented phones */
@media (min-width: 381px) and (max-width: 400px) {
    /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}

/* Media query for smaller mobile phones */
@media (min-width: 401px) and (max-width: 420px) {
    /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}

@media (min-width: 421px) and (max-width: 440px) {
  /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}

@media (min-width: 441px) and (max-width: 460px) {
    /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
@media (min-width: 461px) and (max-width: 480px) {
    /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
@media (min-width: 481px) and (max-width: 500px) {
    /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
@media (min-width: 501px) and (max-width: 520px) {
    /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
@media (min-width: 521px) and (max-width: 540px) {
        /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }
  

}
@media (min-width: 541px) and (max-width: 560px) {
        /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
@media (min-width: 561px) and (max-width: 580px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
@media (min-width: 581px) and (max-width: 600px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }

}
@media (min-width: 601px) and (max-width: 620px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }
}
@media (min-width: 621px) and (max-width: 640px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }
}
@media (min-width: 641px) and (max-width: 660px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }
}
@media (min-width: 661px) and (max-width: 680px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }
}
@media (min-width: 681px) and (max-width: 700px) {
      /* Customize the Swal2 title */
  .swal2-title {
      font-size: 16px;
  }
  .swal2-html-container {
      font-size: 12px;
  }
  .swal2-popup, .swal2-modal,
  .swal2-icon-error, .swal2-show {
      width: 353px;
      height: 309px;
  }
  .swal2-styled.swal2-confirm {
      border: 0;
      border-radius: 0.25em;
      background: initial;
      background-color: #072426;
      color: #fff;
      font-size: 12px;
      width: 230px;
  }
  .swalPara {
      color: black; 
  }
  /* Hide the original file input */
  .custom-file-input input[type="file"] {
      display: none;
    }
    
  /* Style the custom button */
  .custom-file-input #fileLabel {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }
  /* Optionally add hover and focus styles */
  .custom-file-input #fileLabel:hover {
    background-color: #2980b9;
  }
  /* When the input is in focus (clicked), show a different style */
  .custom-file-input input[type="file"]:focus + #fileLabel {
    outline: 1px solid #2980b9;
  }
  #nftDescription {
    width: 95%;
    padding: 10px;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    outline: 2px solid #7070b0;
    border: none;
  }
  .createNftButton {
    height: 34px;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    border: 1px solid #2f2c2c;
    border-radius: 5px;
  }
  .category {
    margin-bottom: 11px;
    background: transparent;
    padding: 7px;
    width: 41%;
    border-radius: 5px;
    border: 1px solid #372f2f;
    font-size: 12px;
  }
  .createNftMobile {
    padding: 20px;
    margin-bottom: 200px;
  }

  .inputForm {
    width: 89%;
    height: 33px;
    color: black;
    font-size: 11px;
    padding-left: 10px;
    border-radius: 5px;
    outline: 2px solid #49498a;
    border: none;
    margin-bottom: 11px;
  }
  .descriptionHeaderDiv {
    margin-bottom: 20px;
    width: 89%;
  }
  .createNftInnerDiv {
    display: grid;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: auto;
    width: 95%;
    margin-top: 40px;
  }
  .uploadNftFormDiv {
    margin-top: 15px;
    margin-bottom: 11px;
  }
  .nftBlobFile {
    height: 35px;
    font-size: 11px;
    width: 50%;
    background-color: #121286;
    border: 1px solid #121286;
    border-radius: 5px;
  }
}



