* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}
body {
    height: 150vh;
    font-family: 'Poppins';
}
.headerDiv {
    margin-top: 30px; 
}
.innerCartMainDiv {
    margin-top: 50px;
    height: 90vh;
    padding: 25px; 
}
.header {
    font-size: 10px;
    line-height: 23px;
    margin-bottom: 10px;
}
.headerParaDiv {
    margin-bottom: 30px;
}
.nftImage {
    height: 100px;
    width: 100px; 
}
.innerUpperCartDiv {
    display: flex;
    border: 1px solid rgb(21, 20, 20);
    height: 122px;
    padding: 10px;
    background: #0d1733;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}
.descriptionPara {
    font-size: 10px;
    height: 40px;
    overflow-y: scroll;
    border: 1px solid #202020;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 9px;
}
.headerPara {
    font-size: 15px;
    color: #a7a7c4e5;
}
.innerDescriptionDiv {
    height: fit-content;
    width: 100%;
    padding-left: 10px; 
}
.priceDiv {
    padding-top: 2px;
    width: 98%;
    height: 40px;
    margin-bottom: 0px;
    display: grid;
    justify-content: start;
}
.lowerCartInnerDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.upperCartDiv {
    /* height: 400px; */
    height: fit-content; 
    overflow-y: scroll;
    padding: 13px;
    border: 1px solid #101015;
    border-radius: 5px;
  
}
.fullname {
    font-size: 9px;
    width: 100%;
    height: 16px;
    overflow-x: scroll;
}
.price {
    font-size: 10px;
    width: 100%;
    height: 25px;
    margin-right: 0px;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    font-weight: bold;
}
.divider {
    margin-top: 17px;
    margin-bottom: 22px;
    border: 1px solid #1c1b1b;
    margin-left: 24px;
    margin-right: 34px;
}
.lowerCartMainDiv {
    border: 1px solid #15151c;
    margin-top: 31px;
    padding: 12px;
}

.checkoutBtn {
    margin-top: 20px;
    height: 47px;
    width: 100%;
    background: #3d3dbf;
    border: none;
    color: #a7a7c4e5; 
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    outline: none;
}
p, b, li  {
    color: #a7a7c4e5; 
}






@media (min-width: 380px) and (max-width: 399px) {
    .dropdown {
      margin-top: -57px;
      padding-right: 0em;
      margin-left: 20em;
    }
    .homeLogo {
        height: 38px;
        width: 124px;
        padding-top: 11px;
        padding-left: 0px;
    }
}
@media (min-width: 375px) and (max-width: 379px) {
    .dropdown {
      margin-top: -56px;
      padding-right: 0em;
      margin-left: 19em;
    }
    .homeLogo {
        height: 38px;
        width: 124px;
        padding-top: 11px;
        padding-left: 0px;
    }
}
@media (min-width: 400px) and (max-width: 480px) {
    .dropdown {
      margin-top: -57px;
      padding-right: 0em;
      margin-left: 21em;
    }
    .homeLogo {
        height: 38px;
        width: 124px;
        padding-top: 11px;
        padding-left: 0px;
    }
}
@media (min-width: 360px) and (max-width: 360px) {
    .dropdown {
      margin-top: -50px;
      padding-right: 0em;
      margin-left: 18em;
      background: transparent;
    }
    .homeLogo {
        height: 38px;
        width: 124px;
        padding-top: 11px;
        padding-left: 0px;
    }
}
@media (min-width: 320px) and (max-width: 320px) {
    .dropdown {
      margin-top: -55px;
      padding-right: 0em;
      margin-left: 16em;
    }
    .homeLogo {
        height: 38px;
        width: 124px;
        padding-top: 11px;
        padding-left: 0px;
    }
}