* {
    margin: 0px; 
    padding: 0px; 
    font-family: 'Poppins';
}



/* Adding the mobile section */
@media (min-width: 300px) and (max-width: 320px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 321px) and (max-width: 340px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
/* Media query for tablets and larger screens */
@media (min-width: 341px) and (max-width: 360px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}

/* Media query for desktops and larger screens */
@media (min-width: 361px) and (max-width: 380px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}

/* Media query for landscape-oriented phones */
@media (min-width: 381px) and (max-width: 400px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}

/* Media query for smaller mobile phones */
@media (min-width: 401px) and (max-width: 420px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}

@media (min-width: 421px) and (max-width: 440px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}

@media (min-width: 441px) and (max-width: 460px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 461px) and (max-width: 480px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 481px) and (max-width: 500px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 501px) and (max-width: 520px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 521px) and (max-width: 540px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 541px) and (max-width: 560px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 561px) and (max-width: 580px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 581px) and (max-width: 600px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 601px) and (max-width: 620px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 621px) and (max-width: 640px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 641px) and (max-width: 660px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 661px) and (max-width: 680px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
@media (min-width: 681px) and (max-width: 700px) {
    .para {
        font-size: 12px;
    }
    .mobileWithdraw {
        margin: auto;
        width: 80%;
    }
    .balanceDiv {
        margin: auto;
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        border: 1px solid #ffffff1c;
        padding-top: 7px;
        border-radius: 5px;
        height: 3em;
        align-items: center;
        padding-left: 13px;
        padding-right: 13px;
    }
    .footerHeader {
        padding-left: 34px;
    }
    .withdrawDiv {
        background-color: #0b0e22;
        margin-top: 27px;
        padding: 13px;
        margin-bottom: 200px;
        padding-bottom: 40px;
        border-radius: 5px;
    }
    .containerDiv {
        margin-bottom: 9px;
    }
    .selectEther {
        height: 35px;
        background: transparent;
        width: 40%;
        padding-left: 8px;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #424242;
    }
    label {
        font-size: 13px;
    }
    .inputForm {
        width: 89%;
        height: 33px;
        color: black;
        font-size: 11px;
        padding-left: 10px;
        border-radius: 5px;
        outline: 2px solid #49498a;
        border: none;
        margin-bottom: 11px;
    }
    .proceedBtn {
        height: 37px;
        width: 39%;
        background: #2000ff;
        border-radius: 5px;
        border: 1px solid #403f3f;
        font-size: 11px;
    }

}
