<%- include('../dashBoardNavigator.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <!-- Adding the menu window -->
    <div class="menuWindowDiv" id="menuButton">
        <img src="../images/nftItems/icons8-menu-144.png" class="menuIcon"alt="">
    </div>

    <div id="menuContainer">
        <ul>
            <div class="sideBarFirstDiv" id="dashboardSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li> Dashboard > </li> 
            </div>
            <div class="sideBarDivSeparator" id="nftMarketPlaceSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li> NFT Marketplace > </li> 
            </div>
            <div class="sideBarDivSeparator" id="landMarketPlaceSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li>Land Marketplace > </li> 
            </div>
            <div class="sideBarDivSeparator" id="resellNftSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li>Resell NFT</li> 
            </div>
            <div class="sideBarDivSeparator" id="resellLandSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li>Resell Land > </li> 
            </div>
            <div class="sideBarDivSeparator" id="depositSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li>Deposit > </li> 
            </div> 
            <div class="sideBarDivSeparator" id="withdrawSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li>Withdraw > </li> 
            </div> 
            <div class="sideBarDivSeparator" id="profileSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li> Profile > </li> 
            </div> 
            <div class="sideBarDivSeparator" id="createNftSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li> Create NFT </li> 
            </div> 
            <div class="sideBarDivSeparator" id="createLandSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" /> 
                </li>
                <li> Create Land > </li>
            </div>
            <div class="sideBarDivSeparator" id="contactSupportSideDiv">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <li> Contact Support > </li> 
            </div> 
            <div class="sideBarDivSeparator">
                <li>
                    <img src="../images/clipboard.png" alt="" class="dashboardMenuImage" srcset=""> 
                </li>
                <a href="/logout"> <li> Logout > </li> </a>
            </div> 
        </ul>
    </div>

    <!-- Adding the main div -->
    <section class="dashboardMainDiv">

        <!-- Adding the search option div -->
        <div class="searchOptionDiv">
            <div class="searchDiv">
                <input type="search" class="searchField" name="" id="">
                <button type="button" class="searchButton"> Search... </button>
    
            </div>
    
            <div class="searchOption">
                <button class="active searchButtonOptions"> Best match </button>
                <button class="searchButtonOptions"> Best sellers </button>
                <button class="searchButtonOptions"> Newest </button>
                <button class="searchButtonOptions"> Best rated </button>
                <button class="searchButtonOptions"> Trending </button>
                <button class="searchButtonOptions"> Price </button>    
            </div>
        </div>

        <!-- Adding the price display div -->
        <div class="priceDisplayCoverDiv">
            <div class="userDisplayIconDiv">
                <div>
                    <img src="../images/dashboard/userIcon.png" class="userIcon" alt="">
                </div>
                <div>
                    <p class="userNamePara"> 
                        Welcome back <br> <span class="userName"> <span class="firstnameDisplay"> <%= firstname %> </span> <%= lastname %> </span> <br> 
                        Account was created on: <span> <%= date %> </span>
                    </p>
                </div>
                
            </div>
            <div class="accountPriceDisplayDiv">
                <p class="balanceValue">
                    <span> Total Balance </span> <br> 
                    <span class="balance" id="balance"> ETH <span class="ethBalance"> <%= accountBalance %> </span> </span> 

                </p>

            </div>
        </div>

        <!-- Adding the dashboard content div -->
        <div class="dashboardContentDiv" id="dashboardContentDiv">
            <p> Land market place </p>




            
            
        </div>


    </section>
    

    <!-- Adding the footer div -->
    <%- include('../footer.ejs'); %> 

    <!-- Adding the javascript -->
    <script type="module" src="../../javascript/nftMarketPlace.js"></script>
    <script type="module" src="../../javascript/dashboard.js"></script>
</body>
</html>