<%- include('../dashBoardNavigator.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../../css/depositEther.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <section class="mobileDepositSection"> 
        <!-- Adding the dashboard content div -->
        <div class="dashboardContentDiv" id="dashboardContentDiv">
            <div class="depositEther">

                <div class="innerDepositEtherDiv">
                    <div>
                        <p class="sendEther"> Deposit Ether </p>
                        <div class="qrCodeDiv">
                            <img src="../../images/dashboard/deposit/qrCode.png" class="qrCodeImage" alt="">

                        </div>
                        <div class="paraDiv">
                            <p class="para"> 
                                Note: Please click the 'Deposit' button below after successfully making the payment to the wallet address provided.
                            </p> <br> 

                            <p class="para">
                                Additionally, enter your transaction reference number to ensure validation of your ETH payment by our system.
                            </p>
                        </div>
                        <label for=""> To Address (ETH) </label> <br> 
                        <div class="ethAddressDiv">
                            <div class="ethAddress">
                                <p class="ethAddressValue" id="ethAddressValue"> 0xduddkdiekskdkdiedjsekddjhshe8599dj38sd </p>
                            </div>
                            <div class="copyAddressBtnDiv">
                                <button class="copyAddressBtn" id="copyAddressBtn">
                                    <div>
                                        <p> Copy Address </p>
                                    </div>
                                    <div>
                                        <img class="copyLogo" id="copyLogo" src="../../images/dashboard/deposit/copy.png" alt="" srcset="">
                                    </div>
                                </button>
                                
                            </div>

                        </div>
                         <br> 
                    </div>

                    <div>
                        <label for=""> Amount to send </label><br> 
                        <div class="inputAndSelectDiv">
                            <input type="number" name="" id="" placeholder="0.0 ETH" class="inputForm"> 
                            <select name="" id="" class="selectOption">
                                <option value="volvo">ETH</option>
                                <option value="saab">BTC</option>
                            </select>
                        </div>
                    </div>

                    <div class="transactionRefDiv">
                        <label for=""> Transaction Reference: </label>
                        <div class=""> 
                            <input type="text" name="" id="" placeholder="Transaction ref number" class="transactionRef">
                        </div> 
                    </div> 
                       
                    <!-- <div class="gasLimitDiv">
                        <label class="gasLimitLabel" for=""> Gas Limit </label>
                        <div class="gasLimitDiv"> 
                            <label for=""> 0.4353 ETH </label>
                        </div> 
                    </div>  -->

                    <div >
                        <input type="button" value="Deposit" class="inputFormButton">
                    </div>





                </div>
            </div>
        </div>
    </section> 
    

    <!-- Adding the footer div -->
    <%- include('../footer.ejs'); %> 

    <!-- Adding the javascript -->
    <script type="module" src="../../javascript/deposit.js"></script>
</body>
</html>