<%- include('../dashBoardNavigator.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../../css/nftMarketPlace.css">
    <script src="../../javascript/ajax-min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!-- Adding the mobile page  -->
    <section class="mobileSection">
        <!-- Inner Navbar -->
        <div class="innerNavDiv">
            <div class="marketplaceParaDiv">
                <p> Marketplace</p>
            </div>

            <div>
                <div class="searchDiv">
                    <input type="search" name="" placeholder="Search by email" class="searchInputForm" id="searchInputForm">
                    <button class="searchBtn" id="searchBtn"> 
                        <div>
                            <span> Search</span>
                        </div>
                        <div>
                            <img src="../../images/dashboard/nftMarketPlace/search.png" class="searchLogo" alt="">
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- Adding the grid container  -->
        <div class="gridContainer" id="imageGrid">
 
            <!-- Images will be inserted here dynamically using JavaScript -->
        </div>


        <!-- Adding the cart div -->
        <div class="cartBottomDiv" id="cartBottomDiv">
            <div class="cartNumberDiv">
                <p class="cartNumberValue" id="cartNumberValue"> 0 </p>
            </div>
            <div>
                <img src="../../images/nftMarketplace/cart1.png" alt="" srcset="" class="cartLogo" id="cartLogo">
            </div>
           
        </div>

    </section>

    <!-- Adding the desktop page  -->
    <section class="desktopSections">

    </section>


    

    <!-- Adding the footer div -->
    <%- include('../footer.ejs'); %> 

    <!-- Adding the javascript -->
    <script type="module" src="../../javascript/nftMarketPlace.js"></script>
</body>
</html>