<%- include('../dashBoardNavigator.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../javascript/sweetAlert.js"></script>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../../css/profile.css">
    <script src="../../javascript/sweetAlert.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!-- Adding the mobile page  -->
    <section class="mobileProfile">
        <!-- Adding the profile div -->
        <div class="profileDiv">

            <div>
                <img src="../../images/profile/userLogo.png" class="imageLogo" alt="" srcset="">
            </div>

        </div>

        <!-- Adding a modal page for change password -->
        <div id="modal" class="modal">
            <div class="modalContent">
                <span class="close" id="closeModalBtn">&times;</span>

                <!-- Adding the change password div -->
                <div class="changePasswordDiv">
                    <div class="oldPasswordDiv">
                        <label for="" class="para"> Old Password </label> <br>
                        <input type="password" class="inputForm" name="" id="oldPassword" placeholder="Old password" />
                    </div>

                    <div class="oldPasswordDiv">
                        <label for="" class="para"> New Password </label> <br>
                        <input type="password" class="inputForm" name="" id="newPassword" placeholder="New password">
                    </div>

                    <div class="oldPasswordDiv">
                        <button class="changePasswordModalBtn" id="changePasswordModalBtn"> Change Password </button>

                    </div>
                </div>
            </div>
        </div>

        <!-- Adding the modal page for edit profile -->
        <div id="modalEditProfile" class="modalEditProfile">
            <!-- Adding the modal content -->
            <div class="modalContentEditProfile">
                <span class="close" id="closeEditProfileBtn">&times;</span>

                <!-- Adding the Edit profile div -->
                <div class="changePasswordDiv">
                    <div class="innerFormDiv">
                        <label class="paraLabel" for=""> Firstname </label> <br> 
                        <input class="inputFormEditProfile" type="text" name="" id="firstname" placeholder="Firstname">
                    </div>

                    <div class="innerFormDiv">
                        <label class="paraLabel" for=""> Lastname </label> <br> 
                        <input class="inputFormEditProfile" type="text" name="" id="lastname" placeholder="Lastname">
                    </div>

                    <div class="innerFormDiv">
                        <label class="paraLabel" for=""> Phone Number </label> <br> 
                        <input class="inputFormEditProfile" type="tel" id="phonenumber" placeholder="Phone number" /> 
                    </div>

                    <div class="innerFormDiv">
                        <label class="paraLabel" for=""> Email Address </label> <br> 
                        <input class="inputFormEditProfile" type="text" name="" id="emailAddress" placeholder="Email address">
                    </div>

                    <div class="innerFormDiv">
                        <label for="" class="paraLabel"> Country of Residence </label> <br> 
                        <input class="inputFormEditProfile" type="text" name="" id="countryOfResidence" placeholder="Country of residence">
                    </div>

                    <div class="innerFormDiv">
                        <button type="submit" class="submitBtn" id="submitBtn"> Submit </button>

                    </div>
                </div> 

            </div>
            
        </div>

        <!-- Adding the user profile div -->
        <div class="userProfileDiv">
            <table class="custom-table">

                <tr class="tableRow">
                    <td><p class="para"> Fullname: </p> </td>
                    <td > <b class="para">  <%= firstname %>  <%= lastname %> </b> </td>
                </tr>
                <tr class="tableRow">
                    <td class="para">Email: </td>
                    <td> <b class="para">  <%= emailAddress %> </b></td>
                </tr>
                <tr class="tableRow">
                    <td class="para">Phone: </td>
                    <td> <b class="para">  <%= phoneNumber %> </b></td>
                </tr>
                <tr class="tableRow">
                    <td class="country"> <p class="countrPara"> Country of Residence:</p> </td>
                    <td> <b class="para"> <%= countryOfResidence %> </b></td>
                    <td></td>
                </tr>

            </table>

            <!--  -->
            <div class="btnflexDiv">
                <button class="changeBtn" id="changePasswordBtn"> Change Password </button>
                <button class="editProfileBtn" id="editProfileBtn"> Edit Profile </button>
            </div>
            <div class="btnflexDiv">
                <button class="contactSupportBtn" id="contactSupportBtn"> Contact Support </button>
            </div>

            <div class="divider"> </div>

            <table class="custom-table">
                <tr class="tableRow">
                    <td><p class="para"> Avaliable Balance: </p> </td>
                    <td > <b class="para balances"> <%= accountBalance %> ETH </b> </td>
                </tr>
                <tr class="">
                    <td><p class="para"> Account Status: </p> </td>
                    <td > <p class="verifiedDisplay"> Verified </p></td>
                </tr>

            </table>


        </div>

    </section>


    <!-- Adding the footer div -->
    <%- include('../footer.ejs'); %>

    <!-- Adding the javascript -->
    <script src="../../javascript/editProfile.js"></script>
</body>
</html>
