<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="icon" href="../../images/logo.ico" type=“image/x-icon”>
    <link rel="stylesheet" href="../../css/viewCart.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Carts Section </title>
</head>
<body>
    <!-- Adding the navbar -->
    <div class="mainNavbarDiv" id="mainNavbarDiv">
        <div class="navbarDiv">
            <nav class="leftNav">
                <a href="">
                    <img class="homeLogo" src="../../images/logo-inverse.png" alt="" srcset="">
                </a>
            </nav>

            <nav class="rightNav">
                <a href="/" class="underline-effect"> Home </a>
                <a href="/about" class="underline-effect about" id="about"> About Us </a>
                <a href="/contacts" class="underline-effect contacts" id="contacts"> Contacts </a>
                <a href="/notifications" class="underline-effect notifications" id="notifications"> Notifications </a>   
                <span class="notificationsMessage"> 20 </span>  
                <a href="/cart" class="underline-effect cart" id="cart"> Cart </a>
                <span class="notificationsMessage"> 12 </span>        
                <a href="/logout" class="underline-effect logout" id="logout"> Logout </a>
            </nav>

            <div class="menuContainerNavbar">
                <div class="dropdown">
                    <a class="dropbtn" id="menuButton">
                        <div class="menuDiv"></div>
                        <div  class="menuDiv"></div>
                        <div  class="menuDiv"></div>
                    </a>
                    <div  id="menuContainer">
                        <div class="menuContainerImageDiv">
                            <a href="/dashboard">
                                <img class="homeLogoMenu" src="../../images/logo-inverse.png" alt="" srcset="">
                            </a>
                        </div>
                
                        <ul>
                            <li class="menuContainerList">  <a href="/dashboard" class=""> 
                                <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Dashboard </span>
                            </a></li>
                            <li class="menuContainerList"><a href="/dashboard/nftMarketPlace" class="" id="">
                                <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/>  
                                <span> NFT Marketplace </span></a>  </li>
                            <li class="menuContainerList"><a href="/dashboard/uploadNft" class="" id=""> 
                                    <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                    <span> Upload NFT </span> </a>  </li>

                                <div class="seperator">
                                    
                                </div>

                            <li class="menuContainerList"><a href="/dashboard/deposit" class="" id=""> 
                                <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Deposit </span> </a> </li>

                            <li class="menuContainerList"><a href="/dashboard/withdraw" class="" id="">  
                                <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Withdraw  </span></a> </li>
                            <li class="menuContainerList"><a href="/dashboard/profile" class="" id="">  
                                <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Profile </span></a>  </li>
                    
                            <li class="menuContainerList"><a href="#" class="" id=""> 
                                <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Contact Support </span> </a>  </li>
                            <li class="menuContainerList"><a href="/logout" class="" id="">  
                                <img src="../../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Logout </span> </a> </li>
                            
                        </ul>  
                        
                        <div class="horizontalLineDiv">
                            <hr id="horizontal"> <br> 

                        </div>

                        <div class="socialMediaDiv">
                            <a href="#" id="facebook" class="fa fa-facebook facebook"></a>
                            <a href="#" id="twitter" class="fa fa-twitter twitter"></a>
                            <a href="#" id="google" class="fa fa-google google"></a>
                            <a href="#" id="linkedin" class="fa fa-linkedin linkedin"></a>
                            <a href="#" id="youtube" class="fa fa-youtube youtube"></a>
                            <a href="#" id="instagram" class="fa fa-instagram instagram"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>      
    </div>

    <!-- Adding the main menu section -->
    <section class="innerCartMainDiv">
        <!-- Adding the header section  -->
        <section class="headerDiv"> 
            <div class="headerParaDiv">
                <p class="header"> Welcome to the checkout page for our exclusive 
                                        NFT materials collection! You're just a step away from owning 
                                        these unique digital assets. 

                </p>
                <p class="header"> 
                    Below, you'll find the NFT files you've selected. 
                    To make them yours, simply click on the checkout button 
                    and follow the easy steps.
                </p>
            </div>

        </section>

        <!-- Adding the upper cart div -->
        <section class="upperCartDiv" id="upperCartDiv">
            <!-- Adding the inner upper Cart div -->


        </section>

        <!-- Adding the lower cart div -->
        <section class="lowerCartDiv">
            <div class="lowerCartMainDiv">
                <div class="lowerCartInnerDiv">
                    <h3 class="headerPara"> Subtotal </h3>
                    <p class="descriptionPara" id="subTotal"> ETH 0.00 </p>
                </div>

                <div class="lowerCartInnerDiv">
                    <h3 class="headerPara"> Discount </h3>
                    <p class="descriptionPara" id="discount"> ETH 0.00 </p>
                </div>

                <div class="divider"></div>

                <div class="lowerCartInnerDiv">
                    <h3 class="headerPara"> Total </h3>
                    <p class="descriptionPara" id="total"> ETH 0.00 </p>
                </div>

                <div>
                    <button class="checkoutBtn" id="checkoutBtn"> Checkout </button>
                </div>

            </div>

        </section>

    </section>
    

    <!-- Adding javascript -->
    <script src="../../javascript/navigatorScroll.js"></script>
    <script src="../../javascript/viewCart.js"></script>
</body>
</html>