<%- include('../dashBoardNavigator.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../../css/withdraw.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <section class="mobileWithdraw">
        <!-- Adding the balance div  -->
        <div class="balanceDiv">
            <div>
                <p class="para"> Balance: </p>
            </div>

            <div>
                <p class="para"> <%= accountBalance %> ETH </p> 
            </div>
        </div>

        <!-- Adding the withdrawal request div  -->
        <div class="withdrawDiv">
            <div class="containerDiv">
                <p class="para"> Withdrawal request </p>
            </div>

            <div class="containerDiv">
                <label for=""> Select Withdrawal Method </label> <br> 
                <select name="" id="" class="selectEther">
                    <option value="ether"> Ethereum </option>
                </select>
            </div>

            <div class="containerDiv">
                <label for=""> Ethereum Address </label> <br> 
                <input type="text" class="inputForm" placeholder="Enter Your Ethereum Address ">
            </div>

            <div class="containerDiv">
                <label for=""> Enter Withdrawl Amount </label> <br> 
                <input type="number" name="" class="inputForm" placeholder="0.00">
            </div>

            <div class="containerDiv">
                <button class="proceedBtn"> Proceed </button>
            </div>
        </div>

    </section>

    

    <!-- Adding the footer div -->
    <%- include('../footer.ejs'); %> 

    <!-- Adding the javascript -->
    <script src="../../javascript/withdraw.js"></script>
</body>
</html>