<%- include('navigator.ejs'); %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About </title>
</head>
<body>
    <!-- Adding the main div  -->
    <div class="aboutMainDiv"> 

            <div class="aboutUsHeaderDiv"> 
                <h3 class="aboutUsPara"> About Page </h3>
            </div>

            <div class="aboutfirstdiv">
                <div class="aboutLeftDiv">

                </div>

                <div>
                    <div>
                        <!-- <h2 class="theLargestNftHeader"> The Largest NFT <br> 
                        Marketplace </h2> <br>  -->

                        <div class="rariableParaDiv"> 
                            <p class="listItemsPara"> 
                                Rarible aims at providing a secure web3 marketplace for reliable earnings <br> 
                            </p>
                        </div>

                        <p> 
                           
                            <div class="aboutListItemsDiv">
                                <ul class="aboutListItems listItemsPara"> 
                                    <li class="listItemsPara"> Unique ideas </li>
                                    <li class="listItemsPara"> Technical Design </li>
                                    <li class="listItemsPara"> Games Development </li>
                                </ul>
                            </div>


                            <button type="button" class="aboutUsButton"> About Us </button>
                        </p>
                    </div>

                </div>
            </div>


            <div class="createAndSellDIv">
                <h3 class="createAndSellNftHeader"> Create and Sell Your NFTs </h3> <br> 
                <div class="createAndSellDiv1">
                    <div class="setupImageDiv">
                        <img src="../images/setup.png" class="setupImage" alt="">
                        <h2 class="setupWalletPara"> 
                            Setup your wallet
                        </h2>
    
                    </div>
                    <div class="createYouOwnCollectionDiv">
                        <img src="../images/create.png" class="setupImage" alt="">
                        <h2 class="createYouCollectionPara"> 
                            Create your collection 
                        </h2>
                    </div>
    
                </div>
                <div class="createAndSellDiv2">
                    <div class="setupImageDiv">
                        <img src="../images/addnft.png" class="setupImage" alt="">
                        <h2 class="setupWalletPara"> 
                            Setup your wallet
                        </h2>
    
                    </div>
                    <div class="createYouOwnCollectionDiv">
                        <img src="../images/list.png" class="setupImage" alt="">
                        <h2 class="createYouCollectionPara"> 
                            Create your collection 
                        </h2>
                    </div>
    
                </div>
            </div>


            <div class="virtualWorldDiv">
                <a href="/login">
                    <div class="virtualWorld">
                        <h3 class="virtualWorldText"> Virtual World </h3>
                    </div>
                </a>
    
                <a href="/login">
                    <div class="artWorld">
                        <h3 class="virtualWorldText"> Arts </h3>
                    </div>
                </a>
    
                <a href="/login">
                    <div class="imaginationWorld">
                        <h3 class="virtualWorldText"> Imagination </h3>
                    </div>
                </a>
    
                <a href="/login">
                    <div class="collectiblesWorld">
                        <h3 class="virtualWorldText"> Collectibles </h3>
                    </div>
                </a>
    
            </div>

            <section class="exploreDiv">
                <div>
                    <p class="explorePara"> Explore </p>
                </div>
    
                <!-- Adding the slider div  -->
                <section class="sliderDiv">
                    <div id="slider">
                        <section>
                            <div>
    
                                <img src="../images/homeDisplay/home1.jpg" class="sliderImage"alt="Image 2">
                                <div class="descDiv">
                                    <p class="outOfStock"> Out of stock </p>
                                </div>
                            </div>
                            <div class="watchInnerDiv">
                                <p class="nftUsers"> Body Language <br>
                                    <span> 6.09 ETH </span> <br> 
                                    <span> Creative Killers </span> <br> 
                                    <span> 
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </p>
                            </div>
                        </section>
                        <section>
                            <div>
                                <img src="../images/homeDisplay/home2.jpg" class="sliderImage"alt="Image 2">
                            </div>
                            <div class="watchInnerDiv">
                                <p class="nftUsers">  Excitement <br> 
                                    <span> 6.09 ETH </span> <br> 
                                    <span> Spanky Monkey </span> <br> 
                                    <span> 
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                    </span>
                                </p>
                            </div>
                        </section>
                        <section>
                            <div>
                                <img src="../images/homeDisplay/home3.jpg" class="sliderImage"alt="Image 2">
                            </div>
                            <div class="watchInnerDiv">
                                <p class="nftUsers"> Ice Baby <br> 
                                    <span> 5.08 ETH </span> <br> 
                                    <span> Mark Smith </span> <br> 
                                    <span> 
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                    </span>
                                </p>
                            </div>
                        </section>
                        <section>
                            <div>
                                <img src="../images/homeDisplay/home4.jpg" class="sliderImage"alt="Image 2">
                            </div>
                            <div class="watchInnerDiv">
                                <p class="nftUsers">  Digital Art <br> 
                                    <span> 5.20 ETH </span> <br> 
                                    <span> Creative Killers </span> <br> 
                                    <span> 
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star starColor"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </p>
                            </div>
                        </section>
    
    
    
                     </div>
                     
                     <div id="dot-container">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </section>
            </section>


        
    </div>


    <!-- Adding the footer  -->
        <!-- Adding the footer  -->
        <div class="footerMainDiv">
            <div>
                    <div class="footerHeaderPara">
                        <h2 class="footerHeader"> A new place to collect <br> 
                            <span class="greenAssets"> NFT assets </span></h2>
                    </div>
            
                    <div class="footerDiv">
                        <div class="footerDiv1">
                            <ul>
                                <h3 class="lightColor"> Address </h3>
                
                                <li> <p class="lightColor"> Ireland - 
                                    21 Dominick Place, <br> 
                                    Rotunda Dublin D01 H6Y1
                                </p> <br> 
                                </li>
                            </ul>
                        </div>
                        <div class="footerDiv1">
                            <ul> 
                                <h3 class="lightColor"> Say Hello </h3>
                                <li class="lightColor"> zendesk_raribleic@aol.com </li>
                                <li class="lightColor"> +1 323 - CALL US </li>
                            </ul>
                        </div>
                        <div class="footerDiv1">
                            <ul> 
                                <h3 class="lightColor"> Socials </h3>
                                <li> <a href="" class="lightColor"> Facebook</a> </li>
                                <li> <a href="" class="lightColor"> Twitter</a> </li>
                                <li> <a href="" class="lightColor"> Dribble</a> </li>
                                <li> <a href="" class="lightColor"> Instagram </a> </li>
                            </ul>
                        </div>
                        <div>
                            <ul> 
                                <h3 class="lightColor"> Newsletter </h3>
                                <li>
                                    <input type="email" name="" id="" class="enterEmail" placeholder="Enter Your Email Address...">
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div class="secondFooterDiv">
                <hr class="horizontalLine"> 
                <p class="copy2020Para lightColor"> Rarible &copy 2020. All Rights Reserved </p>
            </div>
    
    
        </div>
    
    <!-- Adding the about.js file -->
    <script src="../javascript/about.js"></script>
</body>
</html>