<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type=“image/x-icon”>
    <meta charset="UTF-8">
    <script src="../javascript/sweetAlert.js"></script>
    <link rel="stylesheet" href="../css/admin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Admin </title>
</head>
<body>
    <!-- Adding the mobile section div  -->
    <section class="mobileSection">
        <div class="adminMainDiv mobile">
            <div class="adminInnerDiv">
    
                <div>
                    <div class="imageDiv">
                        <img src="../images/admin/adminLogo.jpg" class="adminLogo" alt="" srcset="">
                    </div>
                    <div>
                        <label for="" class="labelHeader"> Email Address </label> <br> 
                        <input type="email" name="" id="emailAddress" placeholder="Email address" class="inputForm"/>
                    </div>
    
                    <div>
    
                        <label for="" class="labelHeader"> Password </label> <br> 
                        <input type="password" name="" id="password" class="inputForm" placeholder="Password" /> 
                    </div>
    
                    <div class="rememberMeDiv">
                        <div class="checkboxDiv">
                            <input type="checkbox" name="" id="">
                            <p class="rememberMePara"> Remember Me </p>
                        </div>
    
                        <div>
                            <button class="loginBtn" id="loginBtn"> Login </button>
                        </div>
                    </div>
                </div>
            
    
            </div>
        </div>

    </section>
    
    

    <!-- Adding the admin.js file  -->
    <script src="../javascript/admin.js"></script>
</body>
</html>