<%- include('navigator.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/contacts.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Contact Page </title>
</head>
<body>

  <!-- Adding the main section  -->
  <section class="mainSection"> 
    <section class="mainSectionContainer">
      <div> 
        <img src="../images/contacts/nftLoginLogo.jpg" class="addressDiv" alt="">
      </div>

      <div class="formDiv">
        <div>
          <h3 class="getInTouchHeader"> Get in touch </h3>
        </div>

        <!-- Adding the fullname and email address div  -->
        <div class="fullnameAndEmailAddressDiv">
          <div>
              <label> Fullname </label> <br> 
              <input type="text" placeholder="Fullname... " class="inputForm"/> 
          </div>
          <div>
              <label> Email Address </label> <br> 
              <input type="text" placeholder="Email address..." class="inputForm"/> 
          </div>
        </div>

        <!-- Subject div -->
        <div>
          <div>
            <label> Subject </label> <br> 
            <input type="text" placeholder="Subject..." class="inputFormSubject"/> 
          </div>
        </div>

        <!-- Adding the message div  -->
        <div>
          <div>
            <label> Message </label> <br> 
            <textarea class="messageArea" name="" id="" cols="30" rows="10" placeholder="Enter your message"> 
              
            </textarea>
          </div>
        </div>

        <div>
            <button class="sendMessage"> Send Message </button>
        </div>



      </div>

    </section>

  </section>

















    <!-- Adding the footer div -->
    <%- include('footer.ejs'); %> 
    

    <!-- Adding javascript -->
    <script src="../javascript/contact.js"></script>
</body>
</html>