<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Welcome  <%= firstname %> </title>
</head>
<body>
    <!-- Adding the navbar -->
    <div class="mainNavbarDiv" id="mainNavbarDiv">
        <div class="navbarDiv">
            <nav class="leftNav">
                <a href="">
                    <img class="homeLogo" src="../images/logo-inverse.png" alt="" srcset="">
                </a>
            </nav>

            <nav class="rightNav">
                <a href="/" class="underline-effect"> Home </a>
                <a href="/about" class="underline-effect about" id="about"> About Us </a>
                <a href="/contacts" class="underline-effect contacts" id="contacts"> Contacts </a>
                <a href="/notifications" class="underline-effect notifications" id="notifications"> Notifications </a>   
                <span class="notificationsMessage"> 20 </span>  
                <a href="/cart" class="underline-effect cart" id="cart"> Cart </a>
                <span class="notificationsMessage"> 12 </span>        
                <a href="/logout" class="underline-effect logout" id="logout"> Logout </a>
            </nav>

            <div class="menuContainerNavbar">
                <div class="dropdown">
                    <a class="dropbtn" id="menuButton">
                        <div class="menuDiv"></div>
                        <div  class="menuDiv"></div>
                        <div  class="menuDiv"></div>
                    </a>
                    <div  id="menuContainer">
                        <div class="menuContainerImageDiv">
                            <a href="/dashboard">
                                <img class="homeLogoMenu" src="../images/logo-inverse.png" alt="" srcset="">
                            </a>
                        </div>
                
                        <ul>
                            <li class="menuContainerList">  <a href="/dashboard" class=""> 
                                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Dashboard </span>
                            </a></li>
                            <li class="menuContainerList"><a href="/dashboard/nftMarketPlace" class="" id="">
                                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/>  
                                <span> NFT Marketplace </span></a>  </li>
                            <li class="menuContainerList"><a href="/dashboard/uploadNft" class="" id=""> 
                                    <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                    <span> Upload NFT </span> </a>  </li>

                                <div class="seperator">
                                    
                                </div>

                            <li class="menuContainerList"><a href="/dashboard/deposit" class="" id=""> 
                                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Deposit </span> </a> </li>

                            <li class="menuContainerList"><a href="/dashboard/withdraw" class="" id="">  
                                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Withdraw  </span></a> </li>
                            <li class="menuContainerList"><a href="/dashboard/profile" class="" id="">  
                                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Profile </span></a>  </li>
                    
                            <li class="menuContainerList"><a href="/dashboard/contactSupport" class="" id=""> 
                                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Contact Support </span> </a>  </li>
                            <li class="menuContainerList"><a href="/logout" class="" id="">  
                                <img src="../images/dashboard/logo.png" class="dashboardMenuLogo"/> 
                                <span> Logout </span> </a> </li>
                            
                        </ul>  
                        
                        <div class="horizontalLineDiv">
                            <hr id="horizontal"> <br> 

                        </div>

                        <div class="socialMediaDiv">
                            <a href="#" id="facebook" class="fa fa-facebook facebook"></a>
                            <a href="#" id="twitter" class="fa fa-twitter twitter"></a>
                            <a href="#" id="google" class="fa fa-google google"></a>
                            <a href="#" id="linkedin" class="fa fa-linkedin linkedin"></a>
                            <a href="#" id="youtube" class="fa fa-youtube youtube"></a>
                            <a href="#" id="instagram" class="fa fa-instagram instagram"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>

      
    </div>

    
    <!-- Adding javascript -->
    <script src="../javascript/navigatorScroll.js"></script>
</body>
</html>