<%- include('dashBoardNavigator.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <!-- Adding the mobile page  -->
    <section class="mobile-dashboardMainSection">
        <section class="mobileMenuSection">
            <!-- Adding trending  -->
                <!-- Adding the trending creators  -->
                <div class="trendingMainDiv">
                    <div>
                        <h2> Trending Sales </h2>
                    </div>

                    <!-- Adding the modal screen  -->
                    <div class="modalScreen" id="modalScreen">
                        <div class="modalContent" id="modalContent">
                            <p class="modalText"> This is a modal screen </p>

                        </div>

                    </div>

                    <!-- Adding the trending views screen -->
                    <div class="trendingViews">
                        <div class="addLogo" id="addLogo">
                            <img src="../uploads/imageData/addLogo.png" class="trendingImageViews addLogo" /> 
                        </div>
                        <div class="viewOne" id="viewOne">
                            <img src="../uploads/imageData/img1.jpg" class="trendingImageViews" ="" srcset="">
                        </div>
                        <div class="viewOne">
                            <img src="../uploads/imageData/img1.jpg" class="trendingImageViews" ="" srcset="">
                        </div>
                        <div class="viewOne">
                            <img src="../uploads/imageData/img1.jpg" class="trendingImageViews" ="" srcset="">
                        </div>
                        <div class="viewOne">
                            <img src="../uploads/imageData/img2.jpg" class="trendingImageViews" ="" srcset="">
                        </div>                    <div class="viewOne">
                            <img src="../uploads/imageData/img3.jpg" class="trendingImageViews" ="" srcset="">
                        </div>                    <div class="viewOne">
                            <img src="../uploads/imageData/img4.jpg" class="trendingImageViews" ="" srcset="">
                        </div>                    <div class="viewOne">
                            <img src="../uploads/imageData/img5.jpg" class="trendingImageViews" ="" srcset="">
                        </div>                    <div class="viewOne">
                            <img src="../uploads/imageData/img6.jpg" class="trendingImageViews" ="" srcset="">
                        </div>                    <div class="viewOne">
                            <img src="../uploads/imageData/img7.jpg" class="trendingImageViews" ="" srcset="">
                        </div>
                    </div>
                </div>
            <div>
                <h1> Hello, <br> 
               <span class="fullname">  <%= firstname %> <%= lastname %> </span> </h1>
            </div>

            <div class="mobilePriceDiv">
                <div>
                    <p> Account Balance </p> 
                    <h2> <%= accountBalance %> ETH </h2>
                    <p class="freezingAmount"> Freezing Amount: 1.0782 ETH </p>

                </div>
                <div class="mobileDashboardButtonDiv">
                    <button class="depositBtn" id="depositBtn"> Deposit </button>
                    <button class="depositBtn" id="withdrawBtn"> Withdrawl </button>
                </div>

            </div>

            <div class="transactionMainDiv">
                <div>
                    <h1> Transaction </h1>
                </div>
                <div class="transactionDiv">
                    <div class="transactionContainer waiting">
                        <h2> 73 </h2>
                        <p class="transactionPara"> Uploaded NFT 
                            </p>  <br> 
                        <p class="transactionPara">  Click to view uploaded NFT </p>
                       
                    </div>
                    <div class="transactionContainer pairing">
                        <h2> 48 </h2>
                        <p class="transactionPara"> Buy & Sell NFT </p> <br> 
                        <p class="transactionPara">  Click to view buy and sell NFT </p>
                    </div>
                    <div class="transactionContainer inProgress">
                        <h2> 9 </h2>
                        <p class="transactionPara"> Transactions in Progress </p> <br> 
                        <p class="transactionParaTransaction">  Click to view transactions </p>
                    </div>
                </div>
                <div class="transactionDiv">
                    <div class="transactionContainer completed">
                        <h2> 230 </h2>
                        <p class="transactionPara"> Completed </p>
                    </div>
                 
                    <div class="transactionContainernull"></div>

                </div>
               
                 

            </div>

        </section>

    </section>
    <!-- Adding the PC page  -->
    <section class="PC-dashboardMainSection">
        <section class="menuSection" id="menuSection">
            <div class="dashboardMenuContainer" id="dashboardMenuContainer">

            </div>
            <div id="menuButton">
                <img src="../images/dashboard/menuDashboard.png" class="menuDashboardImage"/>
            </div>
            <div class="OutterDivbalanceDivMenu">
                <div>
                    <p> Balance: </p>
                </div>
                <div class="balanceDivMenu">
                    <div>
                        <img src="../images/dashboard/ether.svg" class="etherLogo" alt="">
                    </div>
                    <p class="ethPriceValueMenu"> 0.0987 <span class="ethCurrency"> ETH </span></p>
                </div>
            </div>
            <div class="advertsSection">
                <div>
                    <a href="http://www.gloworld.com" target="_blank" class="advert-link">Get Your Glo SIM Now!</a>

                </div>

            </div>



        </section>




        <section class="homeSection">
            <!-- Adding the search and balance div  -->
            <div class="searchAndBalanceDiv">
                <div class="searchDiv">
                    <input type="search" class="search" name="" id="" placeholder="Type enter to search...">
                </div>
                <div class="balanceDiv">
                    <div>
                        <img src="../images/dashboard/ether.svg" class="etherLogo" alt="">
                    </div>
                    <p class="ethPriceValue"> 0.0987 <span class="ethCurrency"> ETH </span></p>
                </div>

            </div>

            <!-- Adding the discover collection -->
            <div class="displayDiscoverDiv">
                <div class="discoverLeftDiv">
                    <div>
                        <h2> Discover, collect, <br>
                        Sell, And Create <br>
                        your own <span class="nft"> NFT </span></h2>
                    </div>
                    <div>
                        <button class="discoverNow"> Discover Now </button>
                        <button class="createYours"> Create Yours </button>
                    </div>
                </div>
                <div class="displayImageDiv">
                    <div class="displayImageInnerDiv">
                        <img src="../images/dashboard/dashboardNftMainLogo.jpg" alt="" class="displayImageFile" srcset="">
                    </div>
                </div>
            </div>

            <!-- Adding the trending creators  -->
            <div class="trendingMainDiv">
                <div>
                    <h2> Trending Sales </h2>
                </div>
                <div class="trendingViews">
                    <div class="viewOne">
                        <img src="../uploads/imageData/img1.jpg" class="trendingImageViews" ="" srcset="">
                    </div>
                    <div class="viewOne">
                        <img src="../uploads/imageData/img1.jpg" class="trendingImageViews" ="" srcset="">
                    </div>
                    <div class="viewOne">
                        <img src="../uploads/imageData/img1.jpg" class="trendingImageViews" ="" srcset="">
                    </div>
                    <div class="viewOne">
                        <img src="../uploads/imageData/img2.jpg" class="trendingImageViews" ="" srcset="">
                    </div>                    <div class="viewOne">
                        <img src="../uploads/imageData/img3.jpg" class="trendingImageViews" ="" srcset="">
                    </div>                    <div class="viewOne">
                        <img src="../uploads/imageData/img4.jpg" class="trendingImageViews" ="" srcset="">
                    </div>                    <div class="viewOne">
                        <img src="../uploads/imageData/img5.jpg" class="trendingImageViews" ="" srcset="">
                    </div>                    <div class="viewOne">
                        <img src="../uploads/imageData/img6.jpg" class="trendingImageViews" ="" srcset="">
                    </div>                    <div class="viewOne">
                        <img src="../uploads/imageData/img7.jpg" class="trendingImageViews" ="" srcset="">
                    </div>
                </div>
            </div>

            <!-- Adding Hot Auctions -->
            <div class="hotAuctionsDiv" id="hotAuctionsDiv">
                <div>
                    <h1 class="hotAuctionsPara"> Hot Auctions </h1>
                </div>

                <div class="auctionsOutterDiv" id="auctionsOutterDiv">

                

                    <!-- Adding the section -->
                    <section class="auctionsInnerDiv grid-container" id="gridContainer">
                      <!-- Adding 4 acutions -->
                      <div class="acutionsDiv">

                          <div class="nftImageDiv">
                              <img src="../uploads/imageData/img11.jpg" class="nftImageDisplay" alt="" srcset="">
                          </div>
                          <div class="viewsDiv">
                              <div>
                                  <img class="viewsImageLogo" src="../images/dashboard/eye2.png" alt="">
                              </div>
                              <div class="viewsDivCount">
                                  <span> 1.4M </span> views </span>
                              </div>
                          </div>
                          <div class="userNameDiv">
                              <div>
                                  <img src="../images/creativekillers.jpg" class="userLogo" />
                              </div>
                              <div class="userNameDisplayDivPreview">
                                  <p>
                                      Violet Eyes
                                  </p>
                                  <p> John stevens </p>

                              </div>

                          </div>
                          <div class="buttonSalesDiv">
                              <button class="salesButton">
                                  <span class="currentBid"> Buy </span>
                                  <span class="etherValueSales"> 0.45 ETH </span>
                              </button>
                          </div>
                      </div>


                      <div class="acutionsDiv">
                          <div>
                              <img src="../uploads/imageData/img12.jpg" class="nftImageDisplay" alt="" srcset="">
                          </div>
                          <div class="viewsDiv">
                              <div>
                                  <img class="viewsImageLogo" src="../images/dashboard/eye2.png" alt="">
                              </div>
                              <div class="viewsDivCount">
                                  <span> 1.4M </span> views </span>
                              </div>
                          </div>
                          <div class="userNameDiv">
                              <div>
                                  <img src="../images/creativekillers.jpg" class="userLogo" />
                              </div>
                              <div class="userNameDisplayDiv">
                                  <p>
                                      Violet Eyes
                                  </p>
                                  <p> John stevens </p>

                              </div>

                          </div>
                          <div class="buttonSalesDiv">
                              <button class="salesButton">
                                  <span class="currentBid"> Buy </span>
                                  <span class="etherValueSales"> 0.45 ETH </span>
                              </button>
                          </div>
                      </div>

                      <div class="acutionsDiv">
                          <div>
                              <img src="../uploads/imageData/img13.jpg" class="nftImageDisplay" alt="" srcset="">
                          </div>
                          <div class="viewsDiv">
                              <div>
                                  <img class="viewsImageLogo" src="../images/dashboard/eye2.png" alt="">
                              </div>
                              <div class="viewsDivCount">
                                  <span> 1.4M </span> views </span>
                              </div>
                          </div>
                          <div class="userNameDiv">
                              <div>
                                  <img src="../images/creativekillers.jpg" class="userLogo" />
                              </div>
                              <div class="userNameDisplayDiv">
                                  <p>
                                      Violet Eyes
                                  </p>
                                  <p> John stevens </p>

                              </div>

                          </div>
                          <div class="buttonSalesDiv">
                              <button class="salesButton">
                                  <span class="currentBid"> Buy </span>
                                  <span class="etherValueSales"> 0.45 ETH </span>
                              </button>
                          </div>
                      </div>

                      <div class="acutionsDiv active">
                          <div>
                              <img src="../uploads/imageData/img14.jpg" class="nftImageDisplay" alt="" srcset="">
                          </div>
                          <div class="viewsDiv">
                              <div>
                                  <img class="viewsImageLogo" src="../images/dashboard/eye2.png" alt="">
                              </div>
                              <div class="viewsDivCount">
                                  <span> 1.4M </span> views </span>
                              </div>
                          </div>
                          <div class="userNameDiv">
                              <div>
                                  <img src="../images/creativekillers.jpg" class="userLogo" />
                              </div>
                              <div class="userNameDisplayDiv">
                                  <p>
                                      Violet Eyes
                                  </p>
                                  <p> John stevens </p>

                              </div>

                          </div>
                          <div class="buttonSalesDiv">
                              <button class="salesButton">
                                  <span class="currentBid"> Buy </span>
                                  <span class="etherValueSales"> 0.45 ETH </span>
                              </button>
                          </div>
                      </div>
                    </section>



                </div>


            </div>
        </section>

        <!-- Adding the sales section -->
        <section class="salesSection" id="stickyDiv">
            <div>
                <img src="../uploads/imageData/img14.jpg" class="nftImageDisplayPreview" alt="" srcset="">
            </div>

            <div class="userNameDiv">
                <div>
                    <img src="../images/creativekillers.jpg" class="userLogo" />
                </div>
                <div class="userNameDisplayDiv">
                    <p>
                        Violet Eyes
                    </p>
                    <p> John stevens </p>

                </div>

            </div>

            <div>
                <div class="descriptionDiv">
                    <p class="descPara">
                        In the realm of dreams, amidst ethereal landscapes, an android girl awakens, her consciousness aflame. Through the veil of slumber, she dances with stars, unravels the mysteries of existence, and transcends her artificial confines. <br>
                        <b> #digitalart #cyberpunk #ai #cyberpunkart #airevolution #future #art #neon #transhumanism #scifi #midjourney #futuristic #cyberborg #fashion #neonlights # #highfashion #futurefashion #metaverse #apoptygmaberzerk #transparent </b>
                    </p>

                </div>



                <div class="placeABidButtonDiv">
                    <div class="priceDiv">
                        <div>
                            <p class="labelPrice"> Current Bid </p>
                            <p  class="labelPrice ethPrice"> 0.456 ETH </p>
                        </div>

                        <div>
                            <p  class="labelPrice"> In USSD </p>
                            <p  class="labelPrice ussdPrice"> 7,005.00 </p>
                        </div>

                    </div>

                    <div>
                        <h3 class="auctionEndsHeader"> Auction Ends In </h3>
                    </div>

                    <div class="auctionTimeDiv">
                        <div class="hours">
                            <p class="hoursPara"> 23h</p>
                        </div>
                        <div class="minutes">
                            <p class="minutesPara"> 43m</p>
                        </div>
                        <div class="seconds">
                           <p class="secondsPara"> 43s </p>
                        </div>

                    </div>
                    <button class="buyNftBtn"> Buy Nft </button>
                </div>

            </div>
        </section>

    </section>


    <!-- Adding the footer div -->
    <%- include('footer.ejs'); %>

    <!-- Adding the javascript -->
    <script type="module" src="../javascript/dashboard.js"></script>
</body>
</html>
