
    <!-- Adding the footer  -->
    <div class="footerMainDiv">
        <div>
                <div class="footerHeaderPara">
                    <h2 class="footerHeader"> A new place to collect <br> 
                        <span class="greenAssets"> NFT assets </span></h2>
                </div>
        
                <div class="footerDiv">
                    <div class="footerDiv1">
                        <ul class="footerList">
                            <h3 class="lightColor"> Address </h3>
            
                            <li> <p class="lightColor"> Ireland - 
                                21 Dominick Place, <br> 
                                Rotunda Dublin D01 H6Y1
                            </p> <br> 
                            </li>
                        </ul>
                    </div>
                    <div class="footerDiv1">
                        <ul class="footerList"> 
                            <h3 class="lightColor"> Say Hello </h3>
                            <li class="lightColor"> zendesk_raribleic@aol.com </li>
                            <li class="lightColor"> +1 323 - CALL US </li>
                        </ul>
                    </div>
                    <div class="footerDiv1">
                        <ul class="footerList"> 
                            <h3 class="lightColor"> Socials </h3>
                            <li> <a href="" class="lightColor underline-effect"> Facebook</a> </li>
                            <li> <a href="" class="lightColor underline-effect"> Twitter</a> </li>
                            <li> <a href="" class="lightColor underline-effect"> Dribble</a> </li>
                            <li> <a href="" class="lightColor underline-effect"> Instagram </a> </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="footerList"> 
                            <h3 class="lightColor"> Newsletter </h3>
                            <li>
                                <input type="email" name="" id="" class="enterEmail" placeholder="Enter Your Email Address...">
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="secondFooterDiv">
            <hr class="horizontalLine"> 
            <p class="copy2020Para lightColor"> Rarible &copy 2020. All Rights Reserved </p>
        </div>


    </div>