<%- include('navigator.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&family=Notable&family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Georgia,serif">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
</head>
<body>
    <div class="loaderDiv">
        <div class="lds-roller">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>

    </div>

    <!-- Adding the navbar -->
    <!-- <div class="mainNavbarDiv" id="mainNavbarDiv">
        <div class="navbarDiv">
            <nav class="leftNav">
                <a href="">
                    <img class="homeLogo" src="../images/logo-inverse.png" alt="" srcset="">
                </a>
            </nav>

            <nav class="rightNav">
                <a href="/" class="underline-effect home"> Home </a>
                <a href="/about" class="underline-effect about" id="aboutUs"> About Us </a>
                <a href="/contacts" class="underline-effect contacts"> Contacts </a>
                <a href="/login" class="underline-effect login"> Login </a>
                <a href="/register" class="underline-effect register"> Register </a>
            </nav>
        </div>
        <a class="icons" href="#">
            <img src="../images/clipboard.png" class="clipboard" srcset="">
        </a>
        <a class="icons searchIcons" href="">
            <img src="../images/search.png" class="search" alt="" srcset="">
        </a>
        <a class="icons searchIcons" href="">
            <img src="../images/menu.png" class="search" alt="" srcset="">
        </a>
      
    </div> -->

    <!-- Adding the first home section -->
    <section class="firstSection">
        <!-- Adding the chat div  -->
        <div class="chatDiv" id="chatDiv">
            <div class="chat-header">
                <div>
                    <h1>Live Support Chat </h1>
                </div>
                <div>
                    <img class="chatCloseLogo" id="chatCloseLogo" src="../images/homeDisplay/close.png" alt="">
                </div>
                
            </div>
            <div class="chat-messages">
                <div class="message received">
                    <p>Welcome to our live support chat! We're delighted to assist you with any inquiries, issues, or assistance you may require. 
                    </p>
                </div>
                <div class="message received">
                    <p> Whether it's troubleshooting, product information, or general guidance, our dedicated team is here to provide you with prompt and knowledgeable assistance. </p>
                </div>
                <div class="message received">
                    <p> 
                        Please don't hesitate to ask, and we'll do our best to make your experience with us as smooth and satisfactory as possible.
                    </p>
                </div>
                <!-- <div class="message sent">
                    <p> Hello, i am having issues with the following .</p>
                </div> -->
                <!-- Add more messages here -->
            </div>
            
            <div class="chat-input">
                <input class="chatMessage" type="text" placeholder="Type your message">
                <button class="chatSendBtn">
                    <img src="../images/homeDisplay/sendLogo.png" class="sendLogo" alt="" srcset="">
                </button>
            </div>
           
        </div>


        <!-- Adding the bottom div  -->
        <div class="bottomDiv" id="bottomDiv">
            <img src="../images/homeDisplay/chatLogo.png" alt="" srcset="" id="chatLogo">
            <div class="liveSupportParaDiv">
                <p class="liveSupportPara" > <b> Live Support </b> </p>
            </div>
        </div>

        <div class="firstMainSection">
            <div class="textDisplay">
                <div>
                    <p class="anewplacePara"> A NEW PLACE TO COLLECT & SELL NFTS </p>
                </div>
                <br> 
    
                <h1 class="headerMessage"> The Largest NFT <br> 
                <span class="marketplace"> Marketplace </span> </h1> <br> 
    
                <button class="exploreButton"> Explore </button>
    
    
                <div class="discoverArtwork">
                    <h4> Discover Artwork </h4>
    
                    <img src="../images/down-arrow.png" alt="" class="downArrow" srcset="">
                </div>
            </div>
            <div class="imageMainDiv">
                <div>
                    <img src="../images/nftSideImage.png" class="sideImage" alt="" srcset="">
                </div>                
                <!-- <div class="displayImageMainDiv">
                    <img src="../images/homeDisplay/1.jpg" alt="" class="imageOneMain" srcset="">
                    <img src="../images/homeDisplay/2.jpg" alt="" class="imageTwo" srcset="">
                    <img src="../images/homeDisplay/3.jpg" alt="" class="imageThree" srcset="">
                </div>
                <div class="displayImageMainDiv">
                    <img src="../images/homeDisplay/4.jpg" alt="" class="imageFour" srcset="">
                    <img src="../images/homeDisplay/5.jpg" alt="" class="imageFive" srcset="">
                    <img src="../images/homeDisplay/6.jpg" alt="" class="imageSix" srcset="">
                </div>
                <div class="displayImageMainDiv">
                    <img src="../images/homeDisplay/3.jpg" alt="" class="imageNine" srcset="">
                </div> -->
            </div>

                <div></div>
                <div></div>
                <div></div>
                <div></div>
            <div>
    
            </div>

        </div>

        <section class="exploreDiv">
            <div>
                <p class="explorePara"> Explore </p>
            </div>

            <!-- Adding the slider div  -->
            <section class="sliderDiv">
                <div id="slider">
                    <section>
                        <div>

                            <img src="../images/homeDisplay/home1.jpg" class="sliderImage"alt="Image 2">
                            <div class="descDiv">
                                <p class="outOfStock"> Out of stock </p>
                            </div>
                        </div>
                        <div class="watchInnerDiv">
                            <p class="nftUsers"> Body Language <br>
                                <span> 6.09 ETH </span> <br> 
                                <span> Creative Killers </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </p>
                        </div>
                    </section>
                    <section>
                        <div>
                            <img src="../images/homeDisplay/home2.jpg" class="sliderImage"alt="Image 2">
                        </div>
                        <div class="watchInnerDiv">
                            <p class="nftUsers">  Excitement <br> 
                                <span> 6.09 ETH </span> <br> 
                                <span> Spanky Monkey </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                </span>
                            </p>
                        </div>
                    </section>
                    <section>
                        <div>
                            <img src="../images/homeDisplay/home3.jpg" class="sliderImage"alt="Image 2">
                        </div>
                        <div class="watchInnerDiv">
                            <p class="nftUsers"> Ice Baby <br> 
                                <span> 5.08 ETH </span> <br> 
                                <span> Mark Smith </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                </span>
                            </p>
                        </div>
                    </section>
                    <section>
                        <div>
                            <img src="../images/homeDisplay/home4.jpg" class="sliderImage"alt="Image 2">
                        </div>
                        <div class="watchInnerDiv">
                            <p class="nftUsers">  Digital Art <br> 
                                <span> 5.20 ETH </span> <br> 
                                <span> Creative Killers </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </p>
                        </div>
                    </section>



                 </div>
                 
                 <div id="dot-container">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </section>
        </section>

        




<!-- 
        <div class="exploreDiv">
            <h2 class="exploreHeader"> Explore </h2>

            <div class="exploreSection">
                <div class="exploreDivInfo- watchDiv">
                    <div class="watchNft" id="movingDiv">

                    </div>
                    <div class="descriptionNft">
                        <div class="watchInnerDiv">
                            <p class="nftUsers"> Watch Nft <br> 
                                <span> 1.20ETH </span> <br> 
                                <span> Creative Killers </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="exploreDivInfo hoodieDiv">
                    <div class="hoodieNft" id="movingDiv">

                    </div>
                    <div class="descriptionNft">
                        <div class="hoodieInnerDiv">
                            <p class="nftUsers"> Digital Art <br> 
                                <span> 1.20ETH </span> <br> 
                                <span> Alex Smith </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i> 
                                </span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="exploreDivInfo pleasureDiv">
                    <div class="pleasureNft">

                    </div>
                    <div class="descriptionNft">
                        <div class="pleasureInnerDiv">
                            <p class="nftUsers"> Pleasure Nft <br> 
                                <span> 1.20ETH </span> <br> 
                                <span> Crazy Monkey </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </p>
                        </div>

                    </div>
                </div>

                <div class="exploreDivInfo monkeyDiv">
                    <div class="monkeyNft">

                    </div>
                    <div class="descriptionNft">
                        <div class="monkeyInnerDiv">
                            <p class="nftUsers"> Monkey Nft <br> 
                                <span> 1.20ETH </span> <br> 
                                <span>  </span> <br> 
                                <span> 
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star starColor"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
    
                            </p> 
                        </div>

                    </div>
                </div>

            </div>
        </div> -->














        <div class="topSellers">
            <div class="topSellersHeaderDiv">
                <h2 class="topsellers"> Top Sellers </h2>
            </div>
           

            <div class="topsellersrow1">
                <div class="onlineNftDiv">
                    <img src="../images/onlineNft.jpg" class="onlineNftImage" alt="" srcset="">
                    <p class="topsellersPara"> Online Nft Club <br> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="kingBlogChaingDiv">
                    <img src="../images/kingNft.jpg" class="onlineNftImage" alt="" srcset="">
                    <p class="topsellersPara"> King Blockchain <br> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="jjjacobsDiv">
                    <img src="../images/jjjacobs.jpg" class="onlineNftImage" alt="" srcset="">
                    <p class="topsellersPara"> JJ Jacobs <br> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
            </div>
            <div class="topsellersrow2">
                <div class="onlineNftDiv">
                    <img src="../images/nftgeek.jpg" class="onlineNftImage" alt="" srcset="">
                    <p class="topsellersPara"> NFT Geek <br> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="kingBlogChaingDiv">
                    <img src="../images/hungryweb.jpg" class="onlineNftImage" alt="" srcset="">
                    <p class="topsellersPara"> Hungry Web <br> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="jjjacobsDiv">
                    <img src="../images/creativekillers.jpg" class="onlineNftImage" alt="" srcset="">
                    <p class="topsellersPara"> Creative Killers <br> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
            </div>
        </div>

        <div class="virtualWorldDiv">
            <a href="/login">
                <div class="virtualWorld">
                    <h3 class="virtualWorldText"> Virtual World </h3>
                </div>
            </a>

            <a href="/login">
                <div class="artWorld">
                    <h3 class="virtualWorldText"> Arts </h3>
                </div>
            </a>

            <a href="/login">
                <div class="imaginationWorld">
                    <h3 class="virtualWorldText"> Imagination </h3>
                </div>
            </a>

            <a href="/login">
                <div class="collectiblesWorld">
                    <h3 class="virtualWorldText"> Collectibles </h3>
                </div>
            </a>

        </div>

        <div class="createAndSellDiv">
            <div class="createAndSellNftHeader">
                <h3 class="createAndSellNftHeader"> Create and Sell Your NFTs </h3> <br>
            </div>
             
            <div class="createAndSellDiv1">
                <div class="setupImageDiv">
                    <img src="../images/setup.png" class="setupImage" alt="">
                    <h2 class="setupWalletPara"> 
                        Setup your wallet
                    </h2>

                </div>
                <div class="createYouOwnCollectionDiv collection" style="">
                    <img src="../images/create.png" class="setupImage" alt="">
                    <h2 class="createYouCollectionPara"> 
                        Create your collection 
                    </h2>
                </div>

            </div>
            <div class="createAndSellDiv2">
                <div class="setupImageDiv">
                    <img src="../images/addnft.png" class="setupImage" alt="">
                    <h2 class="setupWalletPara"> 
                        Add your NFTs
                    </h2>

                </div>
                <div class="createYouOwnCollectionDiv" style="">
                    <img src="../images/list.png" class="setupImage" alt="">
                    <h2 class="createYouCollectionPara"> 
                        List them for sale  
                    </h2>
                </div>

            </div>
        </div>

        <div class="topDropsDiv">
            <div class="topDropsHeader">
                <h2> Top Drops </h2>
            </div>
            <section class="topDropsSectionItems">
                <div class="robotZDiv">
                    <img src="../images/robotz.jpg" class="robotZImage" alt="" srcset="">
                    <p class="topDropsPara"> Robot Z <br> 
                        <span> 1.20ETH </span> <br> 
                        <span class="profileImageDisplay">    
                            <img src="../images/hungryweb.jpg" class="smallImageDisplay" alt="" srcset=""> 
                            Hungry Web 
                        </span>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="robotZDiv">
                    <img src="../images/sphere.jpg" class="robotZImage" alt="" srcset="">
                    <p class="topDropsPara"> The Sphere <br> 
                        <span> 1.20ETH </span> <br> 
                        <span class="profileImageDisplay"> 
                            <img src="../images/creativekillers.jpg" class="smallImageDisplay" alt="" srcset=""> 
                            Creative Killers 
                        </span> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="robotZDiv">
                    <img src="../images/theHouse.jpg" class="robotZImage" alt="" srcset="">
                    <p class="topDropsPara"> The House <br> 
                        <span> 1.20ETH </span> <br> 
                        <span class="profileImageDisplay"> 
                            <img src="../images/nftgeek.jpg" class="smallImageDisplay" alt="" srcset=""> 
                            NFT Geek 
                        </span> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>
                <div class="robotZDiv">
                    <img src="../images/humanDesign.jpg" class="robotZImage" alt="" srcset="">
                    <p class="topDropsPara"> Human Design <br> 
                        <span> 1.20ETH </span> <br> 
                        <span class="profileImageDisplay"> 
                            <img src="../images/jjjacobs.jpg" class="smallImageDisplay" alt="" srcset=""> 
                            JJ Jacobs 
                        </span> 
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star starColor"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                </div>

            </section>

        </div>

        <!-- Adding the reviews  -->
        <div class="reviewsDiv">
            <h3 class="reviewsHeader"> Reviews </h3> <br> 

            <ul> 
                <li> <h3> Jeremy Dilton </h3> </li>
                <p class="reviewPara"> 
                    February 10, 2021 <br> 
                    This is literally the best NFT marketplace available. I highly recommend it to anyone looking for reliable earnings. 
                </p>

                <li> <h3> Agatha Woodley </h3> </li>
                <p class="reviewPara"> 
                    January 25, 2020 <br> 
                    Very satisfied with my NTF purchase. The customer service was execellent. 
                </p>

                <li> <h3> Veronica Luna </h3></li>
                <p class="reviewPara"> 
                    June 04, 2022 <br> 
                    A friend of mine referred me, I signed up, purchased my first NFT and ended up flipping my 1ETH to 18ETH in the same month! <br> 
                    INCREDIBLE. 
                </p>

                <li> <h3> Ham Smith </h3></li>
                <p class="reviewPara"> 
                    March 13, 2021 <br> 
                    Very satisfied with my NFT purchase. Great customer service as usual. 
                </p>

                <li> <h3> Jane Cooper </h3></li>
                <p class="reviewPara"> 
                    October 19, 2020 <br> 
                    My experience with this site has been nothing but amazing, made alot of money, enough to retire my foster parents. 
                </p>

                <li> <h3> Dwayne Hocman </h3></li>
                <p class="reviewPara"> 
                    May 12, 2022 <br> 
                    Definitely the best marketplace for NFT newbies 
                </p>

                <li> <h3> Jason Raff </h3></li>
                <p class="reviewPara"> 
                    August 14, 2020 <br> 
                    Flipped $350 to $23,402 in 1 month 
                </p>
            </ul>

        </div>


    </section>


    <!-- Adding the footer  -->
    <div class="footerMainDiv">
        <div>
                <div class="footerHeaderPara">
                    <h2 class="footerHeader"> A new place to collect <br> 
                        <span class="greenAssets"> NFT assets </span></h2>
                </div>
        
                <div class="footerDiv">
                    <div class="footerDiv1">
                        <ul>
                            <h3 class="lightColor"> Address </h3>
            
                            <li> <p class="lightColor"> Ireland - 
                                21 Dominick Place, <br> 
                                Rotunda Dublin D01 H6Y1
                            </p> <br> 
                            </li>
                        </ul>
                    </div>
                    <div class="footerDiv1">
                        <ul> 
                            <h3 class="lightColor"> Say Hello </h3>
                            <li class="lightColor"> zendesk_raribleic@aol.com </li>
                            <li class="lightColor"> +1 323 - CALL US </li>
                        </ul>
                    </div>
                    <div class="footerDiv1">
                        <ul> 
                            <h3 class="lightColor"> Socials </h3>
                            <li> <a href="" class="lightColor underline-effect"> Facebook</a> </li>
                            <li> <a href="" class="lightColor underline-effect"> Twitter</a> </li>
                            <li> <a href="" class="lightColor underline-effect"> Dribble</a> </li>
                            <li> <a href="" class="lightColor underline-effect"> Instagram </a> </li>
                        </ul>
                    </div>
                    <div>
                        <ul> 
                            <h3 class="lightColor"> Newsletter </h3>
                            <li>
                                <input type="email" name="" id="" class="enterEmail" placeholder="Enter Your Email Address...">
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="secondFooterDiv">
            <hr class="horizontalLine"> 
            <p class="copy2020Para lightColor"> Rarible &copy 2020. All Rights Reserved </p>
        </div>


    </div>


    <!-- <div class="subcontainer" id="subcontainer">
        <div id="cookies">
            <p> We use cookies and similar technologies to enhance your browsing experience and personalize content for you. By clicking "Accept," you consent to the use of these technologies. <br> 
                You can manage your preferences or withdraw your consent at any time through the settings in your web browser. 
                <a href=""> More info. </a>

                If you choose not to accept cookies, some features <br> 
                and functionality of our web application may be limited. For more information about how we use cookies and your rights, please refer to our Privacy Policy and Cookie Policy. <br> 
                <button id="cookiesBtn" class="cookiesBtn"> Consent </button> <br>
            </p>
        </div>
    </div> -->
    

    <!-- Adding javascript -->
    <script src="../javascript/home.js"></script>
</body>
</html>