<%- include('navigator.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <script src="../javascript/sweetAlert.js"></script>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
</head>
<body>

    
     <!-- Adding the main div -->
    <div class="loginMainDiv">
        <div class="imageDisplayDiv">
            <img src="../images/loginImages/nftLoginLogo.jpg" class="imageDisplay" alt="" srcset="">
        </div>
        <div class="actualLoginDiv" id="actualLoginDiv">
            <div class="actualLoginContent">
                <!-- Adding the image logo  -->
                <div class="nftLogoDiv">
                    <img src="../images/logo-inverse.png" alt="" class="nftLogo" srcset="">
                    <hr class="HorizontalLine"> 
                </div>
            

                <!-- Adding the html forms  -->
                <label class="fontColor loginMessageHeader"> Login to purchase NTF/Land </label> <br> 
                <input type="email" name="" id="email" placeholder="Email..." class="inputFormFields"> <br> 
                <input type="password" name="" id="password" placeholder="Password..." class="password inputFormFields"> 
                <img class="eyeLogo" id="eyeLogo" src="../images/loginImages/eye.png" alt="" srcset="">
                
                <br> 

                <div class="displayCodeDiv"> 
                    <span class="fontColor codeDisplay" id="verificationCode"> <span class="randomNumber" id="randomNumber"></span> </span>
                </div>

                <div>
                    <input type="text" placeholder="Enter code" class="inputFormFields" id="enterCode"> 
                </div> 

                <div class="RadioSectionDisplay"> 
                    <div class="rememberMeDiv">
                        <input type="radio" name="" id="" >
                        <label class="fontColor rememberMe"> Remeber me </label>
                    </div>

                    <div class="forgotPasswordDiv">
                        <label class="fontColor forgotPassword"> Forgot password ?</label>
                    </div>
                </div>

                <input type="button" value="Login" class="submitButton" id="loginButton">


                <p class="fontColor doNotHaveAnAccountPara"> 
                    <span class="lightWhite"> Do not have an account ? </span> <span class="fontColor register"> <a class="fontColor register" href="/register"> Register </a>  </span>
                </p>

            </div>
        </div>
            
    </div>



    <!-- Adding the footer div -->
    <%- include('footer.ejs'); %> 
    

    <script src="../javascript/login.js"></script>
</body>
</html>