<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&family=Notable&family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
</head>
<body>
  


    <!-- Adding the navbar -->
    <div class="mainNavbarDiv" id="mainNavbarDiv">
        <div class="navbarDiv">
            <nav class="leftNav">
                <a href="/dashboard">
                    <img class="homeLogo" src="../images/logo-inverse.png" alt="" srcset="">
                </a>
            </nav>


            <div class="innerDivPc">
                <nav class="rightNav">
                    <a href="/" class="underline-effect"> Home </a>
                    <a href="/about" class="underline-effect about" id="about"> About Us </a>
                    <a href="/contacts" class="underline-effect contacts" id="contacts"> Contacts </a>
                    <a href="/login" class="underline-effect login" id="login"> Login </a>
                    <a href="/register" class="underline-effect register" id="register"> Register </a>
                </nav>
            </div>
            <div>
                <div class="dropdown">
                    <a class="dropbtn" id="menuButton">
                        <div class="menuDiv"></div>
                        <div  class="menuDiv"></div>
                        <div  class="menuDiv"></div>
                    </a>
                    <div  id="menuContainer">
                        <div class="menuContainerImageDiv">
                            <a href="/dashboard">
                                <img class="homeLogoMenu" src="../images/logo-inverse.png" alt="" srcset="">
                            </a>
                        </div>
                
                        <ul>
                            <li class="menuContainerList">  <a href="/" class="underline-effect"> Home </a></li>
                            <li class="menuContainerList"><a href="/about" class="" id="about"> About Us </a> </li>
                            <li class="menuContainerList"> <a href="/contacts" class="" id="contacts"> Contacts </a></li>
                            <li class="menuContainerList"> <a href="/login" class="" id="login"> Login </a></li>
                            <li class="menuContainerList"> <a href="/register" class="" id="register"> Register </a></li>
                        </ul> 
                        
                        <div class="horizontalLineDiv">
                            <hr id="horizontal"> <br> 

                        </div>

                        <div class="socialMediaDiv">
                            <a href="#" id="facebook" class="fa fa-facebook facebook"></a>
                            <a href="#" id="twitter" class="fa fa-twitter twitter"></a>
                            <a href="#" id="google" class="fa fa-google google"></a>
                            <a href="#" id="linkedin" class="fa fa-linkedin linkedin"></a>
                            <a href="#" id="youtube" class="fa fa-youtube youtube"></a>
                            <a href="#" id="instagram" class="fa fa-instagram instagram"></a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
      
    </div>


    <!-- Adding javascript -->
    <script src="../javascript/navigatorScroll.js"></script>
</body>
</html>