<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/postRegister.css">
    <title> Account Verification </title>
</head>

<body>
    <div class="container">
        <h2>Verification Code Sent</h2>
        <p class="paraGraphText">A verification code has been sent to your email address.</p>
        <p class="paraGraphText">Please go to your email and follow the instructions to verify your account.</p>
        <div>
            <a href="/login"> 
                <button class="viewDashboard"> Login </button> 
            </a>
           
            <a href="/">
                <button class="homeBtn"> Home </button>
            </a>
            
        </div>
    </div>
    
</body>
</html>