<%- include('navigator.ejs'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../images/logo.ico" type=“image/x-icon”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../images/logo.ico" type=“image/x-icon”>
    <link rel="shortcut icon" href="../images/logo.ico" type="image/x-icon">
    <script src="../javascript/sweetAlert.js"></script>
    <link rel="stylesheet" href="../css/register.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Register </title>
</head>
<body>

    <!-- Adding the form div  -->
     <!-- Adding the main div -->
        <div class="loginMainDiv">
            <div class="imageDisplayDiv">
                <img src="../images/loginImages/nftLoginLogo.jpg" class="imageDisplay" alt="" srcset="">
            </div>
            <div class="actualLoginDiv" id="actualLoginDiv">
                <!-- <header class="headerDiv"></header> -->
                <div class="actualLoginContent">
                    <!-- Adding the image logo  -->
                    <div class="nftLogoDiv">
                        <img src="../images/logo-inverse.png" alt="" class="nftLogo" srcset="">
                        <hr class="HorizontalLine">
                    </div>


                    <!-- Adding the html forms  -->
                    <label class="fontColor loginMessageHeader"> Register to purchase NTF/Land </label> <br>
                    <div class="firstnameAndLastnameDiv">
                        <div class="firstnameDiv">
                            <input type="text" placeholder="First Name..." class="inputForm transparent-input" id="firstname">
                        </div>
                        <div class="lastnameDiv">
                            <input type="text" placeholder="Lastname..." class="inputForm" id="lastname">
                        </div>
                    </div>

                    <div class="emailDiv phoneNumberDIv">
                        <div>
                            <input type="tel" placeholder="Phonenumber..." class="inputForm" id="phoneNumber"/>
                        </div>
                    </div>

                    <div class="emailDiv">
                        <div>
                            <input type="email" placeholder="Email..." class="inputForm" id="email"/>
                        </div>
                    </div>

                    <div class="passwordDiv">
                        <div>
                            <input type="password" placeholder="Password..." class="inputForm" id="password"/>
                        </div>
                    </div>

                    <div class="confirmPasswordDiv">
                        <div>
                            <input type="password" placeholder="Confirm Password..." class="inputForm" id="confirmPassword"/>
                        </div>
                    </div>

                    <div class="RadioSectionDisplay">
                        <div class="rememberMeDiv">
                            <input type="radio" name="" id="" >
                            <p class="fontColor rememberMe">
                                By signinup to create an account, i accept the Company's Terms of Use and Privacy Policy <span class="termsAndConditions"> Terms and Conditions</span> </p>
                        </div>
                    </div>

                    <input type="button" value="Register" class="submitButton" id="registerButton"> <br> 

                    <div class="google-btn">
                        <div class="google-icon-wrapper">
                          <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                        </div>
                        <p class=""><b class="btn-text">Sign in with google</b></p>
                      </div>



                    <p class="fontColor doNotHaveAnAccountPara">
                        <span class="lightWhite"> Have an account, Login in ? </span> <span class="fontColor register"> <a class="fontColor register" href="/register"> Login </a>  </span>
                    </p>



                </div>
            </div>

        </div>


    <!-- <div class="registerMainDiv">
        <div class="registerMainDiv">

            <div class="nftLogoDiv">
                <img src="../images/logo-inverse.png" alt="" class="nftLogo" srcset="">
            </div>

         <form action="">
                <div class="firstnameAndLastnameDiv">
                    <div class="firstnameDiv">
                        <label for="firstname" class="labelFontSize"> FirstName</label> <br>
                        <input type="text" placeholder="First Name..." class="inputForm transparent-input" id="firstname">
                    </div>
                    <div class="lastnameDiv">
                        <label for="lastname" class="labelFontSize"> Lastname </label> <br>
                        <input type="text" placeholder="Lastname..." class="inputForm" id="lastname">
                    </div>
                </div>

                <div class="emailDiv phoneNumberDIv">
                    <div>
                        <label for="email" class="labelFontSize"> Phone Number</label><br>
                        <input type="tel" placeholder="Phonenumber..." class="inputForm" id="phoneNumber"/>
                    </div>
                </div>

                <div class="emailDiv">
                    <div>
                        <label for="email" class="labelFontSize"> Email </label><br>
                        <input type="email" placeholder="Email..." class="inputForm" id="email"/>
                    </div>
                </div>

                <div class="passwordDiv">
                    <div>
                        <label for="password" class="labelFontSize"> Password </label><br>
                        <input type="password" placeholder="Password..." class="inputForm" id="password"/>
                    </div>
                </div>

                <div class="confirmPasswordDiv">
                    <div>
                        <label for="password" class="labelFontSize"> Confirm Password </label><br>
                        <input type="password" placeholder="Confirm Password..." class="inputForm" id="confirmPassword"/>
                    </div>
                </div>

                <div class="checkboxAndPrivacyPolicy">
                    <div>
                        <input type="checkbox" name="" id="">
                    </div>
                    <div>
                        <p class="acceptPolicyPara"> I accept <a> Terms of Use </a> & <a href=""> Privacy Policy </a></p>
                    </div>
                </div>

                <div>
                    <div class="registerButtonDiv">
                        <button class="registerButton" id="registerButton"> Register Now </button>
                    </div>
                </div>

            </form> -->
        </div>
    </div>




    <!-- Adding the footer div -->
    <%- include('footer.ejs'); %>

    <!-- Adding javascript -->
    <script src="../javascript/register.js"></script>
</body>
</html>
